In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('hdh18-20_proteins_with_units.csv')

In [3]:
df

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases
0,02/08/19,Cafe Ventanas,Hamilton Meats,LA,270380,Chicken Breast 5oz 2195,157.0,2/10#,4.10,656.26,420,Chicken,I,20.000,NaN,NaN
1,02/08/19,64 Degrees,Hamilton Meats,LM,270379,Chicken Breast 5oz 2195,30.0,2/10#,4.24,127.07,420,Chicken,I,20.000,NaN,NaN
2,02/08/19,64 Degrees,Hamilton Meats,LM,270378,Chicken Breast 5oz 2195,32.0,2/10#,4.13,132.10,420,Chicken,I,20.000,NaN,NaN
3,02/08/19,64 Degrees,Hamilton Meats,LM,270379,Chicken Thigh B/S 2108,80.0,2/10#,2.35,188.00,420,Chicken,I,20.000,NaN,NaN
4,02/08/19,64 Degrees,Hamilton Meats,LM,270378,Chicken Thigh B/S 2108,320.0,2/10#,2.35,752.00,420,Chicken,I,20.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27507,05/28/20,Canyon Vista,SYSCO,pr,236389733,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN,NaN
27508,06/01/20,Cafe Ventanas,SYSCO,pr,236392064,Bean Pinto 0040,1.0,6/#10,21.46,21.46,20,Legumes,I,40.875,NaN,NaN
27509,06/17/20,64 Degrees,SYSCO,pr,236404573,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN,NaN
27510,06/19/20,64 Degrees,SYSCO,pr,236405974,Bean Black 1294,1.0,6/#10,25.30,25.31,20,Legumes,I,40.875,NaN,NaN
27511,06/29/20,64 Degrees,SYSCO,pr,236413529,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN,NaN

# CLEANING
 25061/25061 rows
### STEPS
1. seperate by category
2. find unique ITEMs
3. create function to handle all ITEMS and granularize
4. create a new column TYPE to store
5. combine all dataframes (1 per category)

# BEEF
- 3592 rows
- 3717

In [4]:
beef = df[df['CATEGORY'] == 'Beef']
beef['ITEM'] = beef['ITEM'].str.lower()
beef

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases
386,05/01/18,Foodworx,SYSCO,DLJ,136557849,beef roast btm rnd sli .67,3.0,4/2.5#,56.11,168.33,20,Beef,I,10.000,NaN,NaN
393,05/02/18,Pines,SYSCO,tkk-pr,136558972,beef meatball italian 1oz. 1315,1.0,2/5#,37.93,37.93,20,Beef,I,10.000,NaN,NaN
403,05/02/18,Club Med,SYSCO,EPD-pr,136559130,beef roast btm rnd sli .67,2.0,4/2.5#,70.51,141.02,20,Beef,I,10.000,NaN,NaN
428,05/03/18,Canyon Vista,SYSCO,G-CW,136560171,beef roast btm rnd sli .67,2.0,4/2.5#,56.11,112.22,20,Beef,I,10.000,NaN,NaN
430,05/03/18,64 Degrees,SYSCO,pcl-CW,136560044,beef roast btm rnd sli .67,1.0,4/2.5#,56.11,56.11,20,Beef,I,10.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27356,02/10/20,Cafe Ventanas,SYSCO,pr,236300335,reynaldos beef chorizo 4,1.0,6/11 o,18.94,18.94,20,Beef,I,4.125,NaN,NaN
27391,02/19/20,Cafe Ventanas,SYSCO,pr,236311465,pastrami beef brisket slicd 0449,1.0,4/2.5,48.00,48.05,20,Beef,I,10.000,NaN,NaN
27417,02/25/20,Cafe Ventanas,SYSCO,pr,236318197,reynaldos beef chorizo 4,1.0,6/11 o,18.90,18.94,20,Beef,I,4.125,NaN,NaN
27426,02/26/20,Cafe Ventanas,SYSCO,pr,236319238,pastrami beef brisket slicd 0449,1.0,4/2.5,48.05,48.05,20,Beef,I,10.000,NaN,NaN
27487,03/11/20,Cafe Ventanas,SYSCO,pr,236336823,pastrami beef brisket slicd 0449,1.0,4/2.5,49.49,49.49,20,Beef,I,10.000,NaN,NaN

In [5]:
beef['ITEM'].unique()

array(['beef roast btm rnd sli .67', 'beef meatball italian 1oz. 1315',
       'hot dog franks 6x1 6" 1219', 'gyro meat sliced 1153',
       'beef patty 8:1 1029', 'pepperoni all beef 4522',
       'halal ground beef 2117', 'halal beef patty 5:1 0764',
       'meat gyro beef/lamb raw 1152', 'beef patty ground 4 to1 1032',
       'halal beef patty 4:1 0770', 'beef patty ground 4 :1 1032',
       'beef ground blk 81/19 fine', 'kosher ground beef 80/20 raw 2',
       'picada carne asada 0170', 'beef tenderloin 189a 0142',
       'pastrami beef navel 0305', 'beef round ins top bid 007',
       'beef stew 1x1 90% lean 135', 'beef ground 80/20 0053',
       'supplement beef 0842', 'mongolian beef pre cut 10',
       'corned beef brisket 0759', 'beef tri tip 0758',
       'beef ribeye roll 112a bid 8', 'steak new york 1469',
       'steak ribeye util cto 1045', 'beef picada diced 0169',
       'beef brisket 120a 8410', 'beef flank steak 193 0062',
       'kosher beef brisket 8408', 'kosher beef pastrami 0297',
       'beef sirloin top 184d 6266', 'sadaf beef cutlets 12606',
       'beef top round inside cab 168', 'beef pastrami btm rnd fla',
       'halal tri tip 0762', 'halal ball tip 0769',
       'halal carne asada beef 07', 'halal stir fry beef 0766',
       'sadaf kabob beef spicy 125', 'sadaf kabob beef 12519',
       'sadaf ghormeg sabzi stew', 'beef hot dog 6in 5to1 1256',
       'beef patty ground 5to1 1034', 'steak tenderloin 5 oz 0227',
       'beef patty ground chuck steak 4',
       'frank all beef hot dog 2x1 12" 2',
       'steak beef country fried 5.33z 0',
       'pastrami beef brisket slicd 0449', 'reynaldos beef chorizo 4'],
      dtype=object)

In [6]:
def beef_categorize(x):
    if 'halal' in x:
        if 'ground' in x:
            return 'Halal Ground Beef'
        elif 'patty' in x:
            return 'Halal Beef Patty'
        elif 'tri tip' in x:
            return 'Halal Beef Tri Tip'
        elif 'ball' in x:
            return 'Halal Beef Ball'
        elif 'stir fry' in x:
            return 'Halal Beef Stir Fry'
        elif 'carne asada' in x:
            return 'Halal Carne Asada'
        else:
            return 'Halal Beef Other'
    elif 'kosher' in x:
        if 'ground' in x:
            return 'Kosher Ground Beef'
        elif 'brisket' in x:
            return 'Kosher Beef Brisket'
        elif 'pastrami' in x:
            return 'Kosher Beef Pastrami'
        else:
            return 'Kosher Beef Other'
    elif 'stew' in x:
        return 'Beef Stew'
    elif 'carne asada' in x or 'picada' in x:
        return 'Picada Carne Asada'
    elif 'gyro' in x:
        return 'Beef Gyro'
    elif 'roast' in x:
        return 'Beef Roast'
    elif 'patty' in x:
        return 'Beef Patty'
    elif 'ground' in x:
        return 'Beef Ground'
    elif 'mongolian' in x:
        return 'Beef Mongolian'
    elif 'round' in x:
        return 'Beef Round'
    elif 'pastrami' in x:
        return 'Beef Pastrami'
    elif 'hot dog' in x:
        return 'Beef Hot Dog'
    elif 'meatball' in x:
        return 'Beef Meatball'
    elif 'supplement' in x:
        return 'Beef Supplement'
    elif 'tri tip' in x:
        return 'Beef Tri Tip'
    elif 'supplement' in x:
        return 'Beef Supplement'
    elif 'sirloin' in x:
        return 'Beef Sirloin'
    elif 'tenderloin' in x:
        return 'Beef Tenderloin'
    elif 'new york' in x:
        return 'New York Steak'
    elif 'ribeye' in x:
        return 'Beef Ribeye'
    elif 'country fried' in x:
        return 'Beef Country Fried'
    elif 'flank' in x:
        return 'Beef Flank'
    elif 'brisket' in x:
        return 'Beef Brisket'
    elif 'pepperoni' in x:
        return 'Beef Pepperoni'
    elif 'chorizo' in x:
        return 'Beef Chorizo'
    elif 'cutlet' in x:
        return 'Beef Cutlet'
    elif 'kabob' in x:
        return 'Beef Kabob'
    else:
        return 'Beef Other'

In [7]:
beef['TYPE'] = beef['ITEM'].apply(beef_categorize)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [8]:
#beef

In [9]:
beef['TYPE'].value_counts()

Beef Patty              929
Picada Carne Asada      634
Beef Roast              495
Beef Hot Dog            281
Beef Pastrami           216
Beef Pepperoni          161
New York Steak          125
Beef Ground             109
Beef Tri Tip            107
Beef Round              102
Beef Supplement          99
Halal Beef Patty         69
Beef Tenderloin          65
Beef Mongolian           61
Beef Meatball            54
Beef Gyro                51
Halal Beef Tri Tip       25
Beef Country Fried       21
Beef Ribeye              18
Halal Ground Beef        16
Beef Stew                12
Halal Carne Asada        12
Beef Kabob               10
Halal Beef Ball          10
Beef Brisket              9
Beef Chorizo              9
Beef Sirloin              6
Kosher Ground Beef        4
Beef Flank                2
Beef Cutlet               2
Kosher Beef Brisket       1
Kosher Beef Pastrami      1
Halal Beef Stir Fry       1
Name: TYPE, dtype: int64

# CHICKEN
- 4734 rows
- 4808

In [11]:
chkn = df[df['CATEGORY'] == 'Chicken']
chkn['ITEM'] = chkn['ITEM'].str.lower()
chkn

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases
0,02/08/19,Cafe Ventanas,Hamilton Meats,LA,270380,chicken breast 5oz 2195,157.0,2/10#,4.10,656.26,420,Chicken,I,20.0,NaN,NaN
1,02/08/19,64 Degrees,Hamilton Meats,LM,270379,chicken breast 5oz 2195,30.0,2/10#,4.24,127.07,420,Chicken,I,20.0,NaN,NaN
2,02/08/19,64 Degrees,Hamilton Meats,LM,270378,chicken breast 5oz 2195,32.0,2/10#,4.13,132.10,420,Chicken,I,20.0,NaN,NaN
3,02/08/19,64 Degrees,Hamilton Meats,LM,270379,chicken thigh b/s 2108,80.0,2/10#,2.35,188.00,420,Chicken,I,20.0,NaN,NaN
4,02/08/19,64 Degrees,Hamilton Meats,LM,270378,chicken thigh b/s 2108,320.0,2/10#,2.35,752.00,420,Chicken,I,20.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25679,09/21/18,Cafe Ventanas,SYSCO,BR,136719204,chicken whole leg iqf sys 111,8.0,8/7.3,38.90,311.20,20,Chicken,I,21.9,NaN,NaN
25708,10/01/18,Cafe Ventanas,SYSCO,CW,136728844,chicken whole leg iqf sys 111,3.0,8/7.3,38.90,116.70,20,Chicken,I,21.9,NaN,NaN
26981,10/17/19,Cafe Ventanas,SYSCO,pr,236169082,chicken whole leg iqf sys 111,2.0,8/7.3,38.90,77.80,20,Chicken,I,21.9,NaN,NaN
26990,10/18/19,Cafe Ventanas,SYSCO,pr,236170464,chicken whole leg iqf sys 111,4.0,8/7.3,38.90,155.60,20,Chicken,I,21.9,NaN,NaN
26996,10/21/19,Cafe Ventanas,SYSCO,pr,236172507,chicken whole leg iqf sys 111,10.0,8/7.3,38.90,389.00,20,Chicken,I,21.9,NaN,NaN

In [12]:
#chkn['ITEM'].unique()

In [13]:
def chkn_categorizer(x):
    if 'kosher' in x:
        if 'wogs' in x:
            return 'Kosher Chicken Wing'
        else:
            return 'Kosher Chicken Other'
    elif 'halal' in x:
        if 'breast' in x:
            return 'Halal Chicken Breast'
        elif 'ground' in x:
            return 'Halal Ground Chicken'
        elif 'thigh' in x:
            return 'Halal Chicken Thigh'
        elif 'wing' in x:
            return 'Halal Chicken Wing'
        else:
            return 'Halal Chicken Other'
    elif 'wog' in x or 'wing' in x:
        return 'Chicken Wing'
    elif 'breast' in x:
        return 'Chicken Breast'
    elif 'ground' in x:
        return 'Ground Chicken'
    elif 'thigh' in x:
        return 'Chicken Thigh'
    elif 'leg' in x:
        return 'Chicken Leg'
    elif 'tenderloin' in x:
        return 'Chicken Tenderloin'
    elif 'orange' in x:
        return 'Orange Chicken'
    elif 'tender' in x:
        return 'Chicken Tenders'
    elif 'pulled' in x:
        return 'Pulled Chicken'
    elif 'supplement' in x:
        return 'Chicken Supplement'
    elif 'kabob' in x:
        return 'Chicken Kabob'
    elif 'diced' in x:
        return 'Chicken Diced'
    elif 'do not' in x:
        return 'Chicken DO NOT'
    else:
        return 'Chicken Other'

In [14]:
chkn['TYPE'] = chkn['ITEM'].apply(chkn_categorizer)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [15]:
#chkn 
#chkn[chkn['TYPE'] == 'Chicken Other']['ITEM'].value_counts()

In [16]:
chkn['TYPE'].value_counts()

Chicken Breast          1171
Chicken Thigh           1058
Chicken Tenders          994
Chicken Wing             547
Chicken Supplement       446
Orange Chicken           362
Chicken Leg               73
Chicken DO NOT            60
Kosher Chicken Wing       32
Chicken Diced             29
Chicken Tenderloin        10
Chicken Kabob              8
Halal Ground Chicken       5
Halal Chicken Breast       4
Halal Chicken Wing         4
Halal Chicken Thigh        4
Pulled Chicken             1
Name: TYPE, dtype: int64

# PORK
- 4912 rows
- 5314

In [19]:
pork = df[df['CATEGORY'] == 'Pork']
pork['ITEM'] = pork['ITEM'].str.lower()
pork

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases
383,05/01/18,Pines,SYSCO,tkk-CW,136557822,bacon layflat smoked 14-18 124,2.00,1/15#,46.85,93.70,20,Pork,I,15.00000,NaN,NaN
384,05/01/18,Pines,SYSCO,tkk-CW,136557822,ham sliced honey smk nat,18.77,4/2.5#,2.75,51.69,20,Pork,I,10.00000,NaN,NaN
387,05/01/18,Foodworx,SYSCO,DLJ,136557849,sausage italian spicy topping 05,1.00,2/5#,24.80,24.80,20,Pork,I,10.00000,NaN,NaN
391,05/01/18,64 Degrees,SYSCO,pcl-CW,136557818,bacon layflat smoked 14-18 124,4.00,1/15#,46.85,187.40,20,Pork,I,15.00000,NaN,NaN
392,05/01/18,64 Degrees,SYSCO,pcl-CW,136557818,bacon layflat smoked 14-18 124,4.00,1/15#,46.85,187.40,20,Pork,I,15.00000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
26865,09/18/19,Club Med,SYSCO,pr,236134564,sausage pork patty cooked 1040,2.00,07/1.5,29.20,58.40,20,Pork,I,10.03125,NaN,NaN
26870,09/18/19,64 Degrees,SYSCO,pr,236134561,sausage pork patty cooked 1040,4.00,07/1.5,29.20,116.80,20,Pork,I,10.03125,NaN,NaN
26875,09/20/19,64 Degrees,SYSCO,CW,236136378,sausage pork patty cooked 1040,-4.00,07/1.5,29.20,-116.80,20,Pork,CM,10.03125,NaN,NaN
26879,09/24/19,Pines,SYSCO,pr,236141437,sausage pork patty cooked 1040,2.00,07/1.5,29.20,58.40,20,Pork,I,10.03125,NaN,NaN
26887,09/25/19,Club Med,SYSCO,pr,236142423,sausage pork patty cooked 1040,1.00,07/1.5,29.20,29.20,20,Pork,I,10.03125,NaN,NaN

In [20]:
#pork['ITEM'].unique()

In [21]:
def pork_categorizer(x):
    if 'bacon' in x:
        return 'Pork Bacon'
    elif 'ham' in x:
        return 'Pork Ham'
    elif 'sausage' in x or 'link' in x:
        return 'Pork Sausage'
    elif 'pepperoni' in x:
        return 'Pork Pepperoni'
    elif 'salami' in x:
        return 'Pork Salami'
    elif 'ground' in x:
        return 'Ground Pork'
    elif 'ribs' in x:
        return 'Pork Ribs'
    elif 'chop' in x:
        return 'Pork Chop'
    elif 'round' in x:
        return 'Pork Round'
    elif 'butt' in x:
        return 'Pork Butt'
    elif 'belly' in x:
        return 'Pork Belly'
    elif 'carnitas' in x:
        return 'Pork Carnitas'
    elif 'loin' in x:
        return 'Pork Loin'
    elif 'supplement' in x:
        return 'Pork Supplement'
    elif 'stew' in x:
        return 'Pork Stew'
    elif 'pancetta' in x:
        return 'Pork Pancetta'
    else:
        return 'Pork Other'

In [22]:
pork['TYPE'] = pork['ITEM'].apply(pork_categorizer)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [23]:
#pork

In [24]:
pork['TYPE'].value_counts()

Pork Sausage       1690
Pork Bacon         1491
Pork Ham            626
Pork Carnitas       399
Pork Butt           344
Pork Ribs           199
Pork Belly          141
Pork Loin           120
Pork Salami         105
Pork Pancetta        55
Ground Pork          45
Pork Supplement      34
Pork Stew            33
Pork Pepperoni       24
Pork Chop             8
Name: TYPE, dtype: int64

# EGGS
- 4189 rows
- 4328

In [26]:
eggs = df[df['CATEGORY'] == 'Eggs']
eggs['ITEM'] = eggs['ITEM'].str.lower()
eggs

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases
381,05/01/18,Pines,SYSCO,tkk-CW,136557822,egg liquid cf 1070,4.0,2/20#,59.70,238.80,20,Eggs,I,40.0,NaN,NaN
390,05/01/18,64 Degrees,SYSCO,pcl-CW,136557818,egg liquid cf 1070,1.0,2/20#,59.70,59.70,20,Eggs,I,40.0,NaN,NaN
395,05/02/18,Pines,SYSCO,tkk-pr,136558972,egg liquid cf 1070,5.0,2/20#,59.70,298.50,20,Eggs,I,40.0,NaN,NaN
396,05/02/18,Pines,SYSCO,tkk-pr,136558972,egg whites liquid 1072,2.0,15/2#,38.90,77.80,20,Eggs,I,30.0,NaN,NaN
404,05/02/18,Club Med,SYSCO,EPD-pr,136559130,egg liquid cf 1070,1.0,2/20#,59.70,59.70,20,Eggs,I,40.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25352,02/18/20,Cafe Ventanas,SYSCO,pr,236310185,egg hardboiled 1064,1.0,2/12 c,35.31,35.31,20,Eggs,I,NaN,24.0,NaN
25353,02/27/20,OceanView,SYSCO,pr,236320658,egg hardboiled 1064,3.0,16/2c,33.95,101.85,20,Eggs,I,NaN,32.0,NaN
25354,03/02/20,OceanView,SYSCO,pr,236326049,egg hardboiled 1064,2.0,16/2c,33.95,67.90,20,Eggs,I,NaN,32.0,NaN
25355,03/09/20,OceanView,SYSCO,pr,236333751,egg hardboiled 1064,1.0,16/2c,33.90,33.95,20,Eggs,I,NaN,32.0,NaN
25356,03/11/20,OceanView,SYSCO,pr,236336824,egg hardboiled 1064,2.0,16/2c,33.95,67.90,20,Eggs,I,NaN,32.0,NaN

In [27]:
#eggs['ITEM'].unique()

In [28]:
def egg_categorizer(x):
    if 'liquid' in x:
        if 'white' in x:
            return 'Egg Whites Liquid'
        else:
            return 'Egg Liquid'
    elif 'shell' in x:
        return 'Egg Shell Lg'
    elif 'hardboil' in x:
        return 'Egg Hardboiled'
    elif 'supplement' in x or 'supplememt' in x:
        return 'Egg Supplement'
    else:
        return 'Egg Other'

In [29]:
eggs['TYPE'] = eggs['ITEM'].apply(egg_categorizer)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
#eggs

In [31]:
eggs['TYPE'].value_counts()

Egg Liquid           1778
Egg Shell Lg         1325
Egg Hardboiled        833
Egg Whites Liquid     376
Egg Supplement         16
Name: TYPE, dtype: int64

# LEGUMES
- 3418 rows
- 4968

In [33]:
legumes = df[df['CATEGORY'] == 'Legumes']
legumes['ITEM'] = legumes['ITEM'].str.lower()
legumes

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases
382,05/01/18,Pines,SYSCO,tkk-CW,136557822,bean green french cut 1293,1.0,12/2#,24.50,24.51,20,Legumes,I,24.000,NaN,NaN
397,05/02/18,Pines,SYSCO,tkk-pr,136558972,bean green french cut 1293,1.0,12/2#,24.51,24.51,20,Legumes,I,24.000,NaN,NaN
409,05/02/18,Cafe Ventanas,SYSCO,im-pr,136559124,bean green cut 0042,1.0,30#,28.30,28.38,20,Legumes,I,30.000,NaN,NaN
412,05/02/18,The Bistro,SYSCO,ws-pr,136559126,soybean edamame shelled 4006,1.0,6/2.5#,29.31,29.31,20,Legumes,I,15.000,NaN,NaN
418,05/03/18,Pines,SYSCO,tkk-pr,136560048,bean green french cut 1293,1.0,12/2#,24.50,24.51,20,Legumes,I,24.000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27507,05/28/20,Canyon Vista,SYSCO,pr,236389733,bean black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN,NaN
27508,06/01/20,Cafe Ventanas,SYSCO,pr,236392064,bean pinto 0040,1.0,6/#10,21.46,21.46,20,Legumes,I,40.875,NaN,NaN
27509,06/17/20,64 Degrees,SYSCO,pr,236404573,bean black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN,NaN
27510,06/19/20,64 Degrees,SYSCO,pr,236405974,bean black 1294,1.0,6/#10,25.30,25.31,20,Legumes,I,40.875,NaN,NaN
27511,06/29/20,64 Degrees,SYSCO,pr,236413529,bean black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN,NaN

In [34]:
#legumes['ITEM'].unique()

In [35]:
def legume_categorizer(x):
    if 'tofu' in x:
        return 'Tofu'
    elif 'lentil' in x:
        return 'Lentil'
    elif 'bean' in x:
        if 'soy' in x:
            return 'Soybean'
        elif 'garbanzo' in x:
            return 'Garbanzo Beans'
        elif 'green' in x:
            return 'Green Beans'
        elif 'peas' in x:
            return 'Peas'
        elif 'refried' in x:
            return 'Refried Beans'
        elif 'pinto' in x:
            return 'Pinto Beans'
        elif 'kidney' in x:
            return 'Kidney Beans'
        else:
            return 'Bean Other'
    elif 'peanut' in x:
        if 'butter' in x or 'skippy' in x:
            return 'Peanut Butter'
        elif 'sauce' in x:
            return 'Peanut Sauce'
        else:
            return 'Peanut Other'
    elif 'edamame' in x:
        return 'Edamame'
    else:
        return 'Legumes Other'

In [36]:
legumes['TYPE'] = legumes['ITEM'].apply(legume_categorizer)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [37]:
#legumes

In [38]:
#legumes[legumes['TYPE'] == 'Peanut Butter']['ITEM'].value_counts()

In [39]:
legumes['TYPE'].value_counts()

Tofu              1588
Refried Beans      754
Bean Other         699
Garbanzo Beans     587
Green Beans        318
Kidney Beans       289
Pinto Beans        271
Soybean            214
Edamame             88
Lentil              80
Peanut Butter       73
Peanut Sauce         5
Legumes Other        2
Name: TYPE, dtype: int64

# TURKEY
- 2501 rows
- 2506

In [41]:
tky = df[df['CATEGORY'] == 'Turkey']
tky['ITEM'] = tky['ITEM'].str.lower()
tky

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases
310,06/24/19,Cafe Ventanas,SP (Do Not Use,CW,56755,turkey ground bulk 0448,4.0,2/10#,47.98,191.92,620,Turkey,I,20.0,NaN,NaN
338,07/22/19,Cafe Ventanas,SP (Do Not Use,BR,58399,turkey ground bulk 0448,30.0,10#,2.90,86.97,620,Turkey,I,10.0,NaN,NaN
371,08/06/19,Cafe Ventanas,SP (Do Not Use,LM,59417,turkey ground bulk 0448,30.0,2/10#,2.90,86.97,620,Turkey,I,20.0,NaN,NaN
374,08/12/19,Cafe Ventanas,SP (Do Not Use,LM,59638,turkey ground bulk 0448,20.0,2/10#,2.90,57.98,620,Turkey,I,20.0,NaN,NaN
378,10/14/19,Cafe Ventanas,SP (Do Not Use,BR,63610,turkey ground bulk 0448,40.0,2/10#,2.90,115.96,620,Turkey,I,20.0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
25223,03/30/20,Pines,SYSCO,CW,236351280,sausage turkey patty 1038,1.0,107/cs,29.96,29.96,20,Turkey,I,NaN,NaN,107.0
25230,03/30/20,64 Degrees,SYSCO,CW,236351281,sausage turkey patty 1038,2.0,107/cs,29.96,59.92,20,Turkey,I,NaN,NaN,107.0
25242,05/26/20,Cafe Ventanas,SYSCO,CW,236387818,sausage turkey patty 1038,2.0,107/cs,29.90,59.92,20,Turkey,I,NaN,NaN,107.0
25247,06/11/20,64 Degrees,SYSCO,pr,236400403,sausage turkey patty 1038,3.0,107/cs,29.96,89.88,20,Turkey,I,NaN,NaN,107.0
25249,06/17/20,64 Degrees,SYSCO,pr,236404573,sausage turkey patty 1038,1.0,107/cs,29.96,29.96,20,Turkey,I,NaN,NaN,107.0

In [42]:
#tky['ITEM'].unique()

In [43]:
def tky_categorizer(x):
    if 'kosher' in x:
        if 'ground' in x:
            return 'Kosher Ground Turkey'
        elif 'whole' in x:
            return 'Kosher Whole Turkey'
        else:
            'Kosher Turkey Other'
    elif 'ground' in x:
        return 'Ground Turkey'
    elif 'breast' in x:
        return 'Turkey Breast'
    elif 'meatball' in x:
        return 'Turkey Meatball'
    elif 'corn dog' in x:
        return 'Turkey Corn Dog'
    elif 'patty' in x:
        return 'Turkey Patty'
    elif 'sausage' in x:
        return 'Turkey Sausage'
    elif 'toms' in x:
        return 'Turkey Toms'
    elif 'supplement' in x:
        return 'Turkey Supplement'
    else:
        return 'Turkey Other'

In [44]:
tky['TYPE'] = tky['ITEM'].apply(tky_categorizer)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [45]:
#tky

In [46]:
tky['TYPE'].value_counts()

Turkey Breast           1260
Turkey Patty             689
Turkey Corn Dog          318
Turkey Sausage           148
Ground Turkey             51
Turkey Supplement         15
Turkey Meatball           12
Kosher Whole Turkey        6
Turkey Toms                5
Kosher Ground Turkey       2
Name: TYPE, dtype: int64

# PROCESSED VEGETARIAN PROTEINS
- 1715 rows
- 1871

In [48]:
veg = df[df['CATEGORY'] == 'Processed Vegetarian Protein']
veg['ITEM'] = veg['ITEM'].str.lower()
veg

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases
1503,09/05/18,Cafe Ventanas,SYSCO,pr,136701256,daiya mozz shrd chs vegn,1.0,5#,22.90,22.90,20,Processed Vegetarian Protein,I,5.00,NaN,NaN
1523,09/10/18,Pines,SYSCO,CW,136706055,daiya mozz shrd chs vegn,1.0,5#,22.90,22.90,20,Processed Vegetarian Protein,I,5.00,NaN,NaN
1560,09/13/18,Pines,SYSCO,pr,136710051,daiya mozz shrd chs vegn,1.0,5#,22.90,22.90,20,Processed Vegetarian Protein,I,5.00,NaN,NaN
1573,09/14/18,Cafe Ventanas,SYSCO,pr,136711947,daiya mozz shrd chs vegn,1.0,3/5#,68.70,68.70,20,Processed Vegetarian Protein,I,15.00,NaN,NaN
1608,09/21/18,OceanView,SYSCO,BR,136719201,daiya mozz shrd chs vegn,1.0,5#,22.90,22.90,20,Processed Vegetarian Protein,I,5.00,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27344,02/06/20,64 Degrees,SYSCO,CW,236296994,vegetarian soy fishless filet 400,2.0,/10.10,27.38,54.76,20,Processed Vegetarian Protein,I,5.05,NaN,NaN
27361,02/10/20,64 Degrees,SYSCO,pr,236300331,vegetarian soy fishless filet 400,2.0,/10.10,27.38,54.76,20,Processed Vegetarian Protein,I,5.05,NaN,NaN
27398,02/19/20,64 Degrees,SYSCO,pr,236311463,vegetarian soy fishless filet 400,4.0,/10.10,27.38,109.52,20,Processed Vegetarian Protein,I,5.05,NaN,NaN
27405,02/20/20,64 Degrees,SYSCO,CW,236312645,vegetarian soy fishless filet 400,1.0,/10.10,27.30,27.38,20,Processed Vegetarian Protein,I,5.05,NaN,NaN
27421,02/25/20,64 Degrees,SYSCO,pr,236318195,vegetarian soy fishless filet 400,2.0,/10.10,27.38,54.76,20,Processed Vegetarian Protein,I,5.05,NaN,NaN

In [49]:
#veg['ITEM'].unique()

In [50]:
def veg_categorizer(x):
    if 'patty' in x:
        if 'black bean' in x:
            return 'Black Bean Patty'
        elif 'vegan' in x:
            return 'Vegan Patty'
        elif 'vegetable' in x:
            return 'Spicy Vegetarian Patty'
    elif 'chix' in x and 'breast' in x:
        return 'Chix Breast (Veg)'
    elif 'mozz' in x and 'vegn' in x:
        return 'Vegan Mozz. Cheese'
    elif 'soy chorizo' in x:
        return 'Soy Chorizo'
    elif 'soy fishless' in x:
        return 'Soy Fishless Filet'
    elif 'sausage' in x and 'apple sage' in x:
        return 'Apple Sage Sausage'
    elif 'vg nat forest young jack' in x:
        return 'Vg Young Jack'
    elif 'just egg' in x:
        return 'Vegan Eggs'
    else:
        return 'Processed Vegetarian Protein Other'

In [51]:
veg['TYPE'] = veg['ITEM'].apply(veg_categorizer)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [52]:
#veg

In [53]:
#veg[veg['TYPE'] == 'Processed Vegetarian Protein Other']['ITEM'].value_counts()

In [54]:
veg['TYPE'].value_counts()

Spicy Vegetarian Patty    483
Black Bean Patty          422
Soy Chorizo               214
Vegan Patty               179
Chix Breast (Veg)         148
Soy Fishless Filet        142
Vg Young Jack             130
Vegan Mozz. Cheese        125
Apple Sage Sausage         21
Vegan Eggs                  5
Name: TYPE, dtype: int64

# COMBO
- 27,316 rows (out of 27,316)
- 27512

In [55]:
combo = pd.concat([beef, chkn, pork, legumes, eggs, tky, veg], axis=0, ignore_index=True)

In [56]:
combo

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases,TYPE
0,05/01/18,Foodworx,SYSCO,DLJ,136557849,beef roast btm rnd sli .67,3.0,4/2.5#,56.11,168.33,20,Beef,I,10.00,NaN,NaN,Beef Roast
1,05/02/18,Pines,SYSCO,tkk-pr,136558972,beef meatball italian 1oz. 1315,1.0,2/5#,37.93,37.93,20,Beef,I,10.00,NaN,NaN,Beef Meatball
2,05/02/18,Club Med,SYSCO,EPD-pr,136559130,beef roast btm rnd sli .67,2.0,4/2.5#,70.51,141.02,20,Beef,I,10.00,NaN,NaN,Beef Roast
3,05/03/18,Canyon Vista,SYSCO,G-CW,136560171,beef roast btm rnd sli .67,2.0,4/2.5#,56.11,112.22,20,Beef,I,10.00,NaN,NaN,Beef Roast
4,05/03/18,64 Degrees,SYSCO,pcl-CW,136560044,beef roast btm rnd sli .67,1.0,4/2.5#,56.11,56.11,20,Beef,I,10.00,NaN,NaN,Beef Roast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27507,02/06/20,64 Degrees,SYSCO,CW,236296994,vegetarian soy fishless filet 400,2.0,/10.10,27.38,54.76,20,Processed Vegetarian Protein,I,5.05,NaN,NaN,Soy Fishless Filet
27508,02/10/20,64 Degrees,SYSCO,pr,236300331,vegetarian soy fishless filet 400,2.0,/10.10,27.38,54.76,20,Processed Vegetarian Protein,I,5.05,NaN,NaN,Soy Fishless Filet
27509,02/19/20,64 Degrees,SYSCO,pr,236311463,vegetarian soy fishless filet 400,4.0,/10.10,27.38,109.52,20,Processed Vegetarian Protein,I,5.05,NaN,NaN,Soy Fishless Filet
27510,02/20/20,64 Degrees,SYSCO,CW,236312645,vegetarian soy fishless filet 400,1.0,/10.10,27.30,27.38,20,Processed Vegetarian Protein,I,5.05,NaN,NaN,Soy Fishless Filet
27511,02/25/20,64 Degrees,SYSCO,pr,236318195,vegetarian soy fishless filet 400,2.0,/10.10,27.38,54.76,20,Processed Vegetarian Protein,I,5.05,NaN,NaN,Soy Fishless Filet

In [57]:
combo['TYPE'].value_counts()

Egg Liquid              1778
Pork Sausage            1690
Tofu                    1588
Pork Bacon              1491
Egg Shell Lg            1325
                        ...
Beef Cutlet                2
Halal Beef Stir Fry        1
Pulled Chicken             1
Kosher Beef Pastrami       1
Kosher Beef Brisket        1
Name: TYPE, Length: 103, dtype: int64

In [58]:
combo.to_csv('hdh18-20_units_and_types.csv', index=False)

In [59]:
combo

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases,TYPE
0,05/01/18,Foodworx,SYSCO,DLJ,136557849,beef roast btm rnd sli .67,3.0,4/2.5#,56.11,168.33,20,Beef,I,10.00,NaN,NaN,Beef Roast
1,05/02/18,Pines,SYSCO,tkk-pr,136558972,beef meatball italian 1oz. 1315,1.0,2/5#,37.93,37.93,20,Beef,I,10.00,NaN,NaN,Beef Meatball
2,05/02/18,Club Med,SYSCO,EPD-pr,136559130,beef roast btm rnd sli .67,2.0,4/2.5#,70.51,141.02,20,Beef,I,10.00,NaN,NaN,Beef Roast
3,05/03/18,Canyon Vista,SYSCO,G-CW,136560171,beef roast btm rnd sli .67,2.0,4/2.5#,56.11,112.22,20,Beef,I,10.00,NaN,NaN,Beef Roast
4,05/03/18,64 Degrees,SYSCO,pcl-CW,136560044,beef roast btm rnd sli .67,1.0,4/2.5#,56.11,56.11,20,Beef,I,10.00,NaN,NaN,Beef Roast
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27507,02/06/20,64 Degrees,SYSCO,CW,236296994,vegetarian soy fishless filet 400,2.0,/10.10,27.38,54.76,20,Processed Vegetarian Protein,I,5.05,NaN,NaN,Soy Fishless Filet
27508,02/10/20,64 Degrees,SYSCO,pr,236300331,vegetarian soy fishless filet 400,2.0,/10.10,27.38,54.76,20,Processed Vegetarian Protein,I,5.05,NaN,NaN,Soy Fishless Filet
27509,02/19/20,64 Degrees,SYSCO,pr,236311463,vegetarian soy fishless filet 400,4.0,/10.10,27.38,109.52,20,Processed Vegetarian Protein,I,5.05,NaN,NaN,Soy Fishless Filet
27510,02/20/20,64 Degrees,SYSCO,CW,236312645,vegetarian soy fishless filet 400,1.0,/10.10,27.30,27.38,20,Processed Vegetarian Protein,I,5.05,NaN,NaN,Soy Fishless Filet
27511,02/25/20,64 Degrees,SYSCO,pr,236318195,vegetarian soy fishless filet 400,2.0,/10.10,27.38,54.76,20,Processed Vegetarian Protein,I,5.05,NaN,NaN,Soy Fishless Filet

In [60]:
combo_melt = combo.melt(id_vars=['INVOICE_DATE', 'LOC', 'VENDOR', 'PO_NUMBER', 'INVOICE_NUMBER', 'ITEM', 'QUANTITY', 'UNIT', 'COST', 'EXTENDED_COST', 'VENDOR_NO', 'CATEGORY', 'CM_OR_INV', 'TYPE'], value_vars=['Num_Pounds', 'Num_Count', 'Num_Cases'])

In [61]:
combo_melt = combo_melt[combo_melt['value'].notna()].reset_index().drop(['index'], axis=1)
combo_melt

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,TYPE,variable,value
0,05/01/18,Foodworx,SYSCO,DLJ,136557849,beef roast btm rnd sli .67,3.0,4/2.5#,56.11,168.33,20,Beef,I,Beef Roast,Num_Pounds,10.0
1,05/02/18,Pines,SYSCO,tkk-pr,136558972,beef meatball italian 1oz. 1315,1.0,2/5#,37.93,37.93,20,Beef,I,Beef Meatball,Num_Pounds,10.0
2,05/02/18,Club Med,SYSCO,EPD-pr,136559130,beef roast btm rnd sli .67,2.0,4/2.5#,70.51,141.02,20,Beef,I,Beef Roast,Num_Pounds,10.0
3,05/03/18,Canyon Vista,SYSCO,G-CW,136560171,beef roast btm rnd sli .67,2.0,4/2.5#,56.11,112.22,20,Beef,I,Beef Roast,Num_Pounds,10.0
4,05/03/18,64 Degrees,SYSCO,pcl-CW,136560044,beef roast btm rnd sli .67,1.0,4/2.5#,56.11,56.11,20,Beef,I,Beef Roast,Num_Pounds,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27507,03/18/20,Goody's Place,SYSCO,CW,236344583,reynaldos soy chorizo 98,1.0,16/cs,18.90,18.94,20,Processed Vegetarian Protein,I,Soy Chorizo,Num_Cases,16.0
27508,03/18/20,Cafe Ventanas,SYSCO,CW,236344579,breast veg chix sub 3.8z garde,1.0,50/cs,57.60,57.60,20,Processed Vegetarian Protein,I,Chix Breast (Veg),Num_Cases,50.0
27509,03/18/20,Cafe Ventanas,SYSCO,CW,236344579,vegan burger patty 4000,1.0,48/4cs,58.10,58.14,20,Processed Vegetarian Protein,I,Vegan Patty,Num_Cases,192.0
27510,03/25/20,64 Degrees,SYSCO,pr,236349095,vegan burger patty 4000,4.0,48/4cs,58.14,232.56,20,Processed Vegetarian Protein,I,Vegan Patty,Num_Cases,192.0
27511,03/30/20,Pines,SYSCO,CW,236351280,vegan burger patty 4000,1.0,48/4cs,58.14,58.14,20,Processed Vegetarian Protein,I,Vegan Patty,Num_Cases,192.0

In [62]:
combo_melt.to_csv('hdh18-20_valuecolumn.csv', index=False)

In [75]:
combo_melt['Total_Value'] = combo_melt['QUANTITY'] * combo_melt['value']
combo_melt

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,TYPE,variable,value,Total_Value
0,05/01/18,Foodworx,SYSCO,DLJ,136557849,beef roast btm rnd sli .67,3.0,4/2.5#,56.11,168.33,20,Beef,I,Beef Roast,Num_Pounds,10.0,30.0
1,05/02/18,Pines,SYSCO,tkk-pr,136558972,beef meatball italian 1oz. 1315,1.0,2/5#,37.93,37.93,20,Beef,I,Beef Meatball,Num_Pounds,10.0,10.0
2,05/02/18,Club Med,SYSCO,EPD-pr,136559130,beef roast btm rnd sli .67,2.0,4/2.5#,70.51,141.02,20,Beef,I,Beef Roast,Num_Pounds,10.0,20.0
3,05/03/18,Canyon Vista,SYSCO,G-CW,136560171,beef roast btm rnd sli .67,2.0,4/2.5#,56.11,112.22,20,Beef,I,Beef Roast,Num_Pounds,10.0,20.0
4,05/03/18,64 Degrees,SYSCO,pcl-CW,136560044,beef roast btm rnd sli .67,1.0,4/2.5#,56.11,56.11,20,Beef,I,Beef Roast,Num_Pounds,10.0,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27507,03/18/20,Goody's Place,SYSCO,CW,236344583,reynaldos soy chorizo 98,1.0,16/cs,18.90,18.94,20,Processed Vegetarian Protein,I,Soy Chorizo,Num_Cases,16.0,16.0
27508,03/18/20,Cafe Ventanas,SYSCO,CW,236344579,breast veg chix sub 3.8z garde,1.0,50/cs,57.60,57.60,20,Processed Vegetarian Protein,I,Chix Breast (Veg),Num_Cases,50.0,50.0
27509,03/18/20,Cafe Ventanas,SYSCO,CW,236344579,vegan burger patty 4000,1.0,48/4cs,58.10,58.14,20,Processed Vegetarian Protein,I,Vegan Patty,Num_Cases,192.0,192.0
27510,03/25/20,64 Degrees,SYSCO,pr,236349095,vegan burger patty 4000,4.0,48/4cs,58.14,232.56,20,Processed Vegetarian Protein,I,Vegan Patty,Num_Cases,192.0,768.0
27511,03/30/20,Pines,SYSCO,CW,236351280,vegan burger patty 4000,1.0,48/4cs,58.14,58.14,20,Processed Vegetarian Protein,I,Vegan Patty,Num_Cases,192.0,192.0

In [76]:
combo_melt.to_csv('hdh18-20_totals.csv', index=False)

In [105]:
SP = combo[(combo['VENDOR'] == 'SP (Do Not Use') | (combo['VENDOR'] == 'Seaport Meat Co')] # ['EXTENDED_COST'].sum()

In [107]:
SP[SP['INVOICE_DATE'].str.endswith('19')]['EXTENDED_COST'].sum()

349061.5

In [63]:
nomayjune = pd.read_csv('hdh18-20_valuecolumn_NOMAYJUNE.csv')
nomayjune

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,TYPE,variable,value
0,05/01/18,Foodworx,SYSCO,DLJ,136557849,beef roast btm rnd sli .67,3.0,4/2.5#,56.11,168.33,20,Beef,I,Beef Roast,Num_Pounds,10.0
1,05/02/18,Pines,SYSCO,tkk-pr,136558972,beef meatball italian 1oz. 1315,1.0,2/5#,37.93,37.93,20,Beef,I,Beef Meatball,Num_Pounds,10.0
2,05/02/18,Club Med,SYSCO,EPD-pr,136559130,beef roast btm rnd sli .67,2.0,4/2.5#,70.51,141.02,20,Beef,I,Beef Roast,Num_Pounds,10.0
3,05/03/18,Canyon Vista,SYSCO,G-CW,136560171,beef roast btm rnd sli .67,2.0,4/2.5#,56.11,112.22,20,Beef,I,Beef Roast,Num_Pounds,10.0
4,05/03/18,64 Degrees,SYSCO,pcl-CW,136560044,beef roast btm rnd sli .67,1.0,4/2.5#,56.11,56.11,20,Beef,I,Beef Roast,Num_Pounds,10.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27311,03/18/20,Goody's Place,SYSCO,CW,236344583,reynaldos soy chorizo 98,1.0,16/cs,18.90,18.94,20,Processed Vegetarian Protein,I,Soy Chorizo,Num_Cases,16.0
27312,03/18/20,Cafe Ventanas,SYSCO,CW,236344579,breast veg chix sub 3.8z garde,1.0,50/cs,57.60,57.60,20,Processed Vegetarian Protein,I,Chix Breast (Veg),Num_Cases,50.0
27313,03/18/20,Cafe Ventanas,SYSCO,CW,236344579,vegan burger patty 4000,1.0,48/4cs,58.10,58.14,20,Processed Vegetarian Protein,I,Vegan Patty,Num_Cases,192.0
27314,03/25/20,64 Degrees,SYSCO,pr,236349095,vegan burger patty 4000,4.0,48/4cs,58.14,232.56,20,Processed Vegetarian Protein,I,Vegan Patty,Num_Cases,192.0
27315,03/30/20,Pines,SYSCO,CW,236351280,vegan burger patty 4000,1.0,48/4cs,58.14,58.14,20,Processed Vegetarian Protein,I,Vegan Patty,Num_Cases,192.0

In [80]:
nomayjune[nomayjune['ITEM'] == 'chicken breast 5oz 2195'] #['COST'].value_counts()

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,TYPE,variable,value
3329,02/08/19,Cafe Ventanas,Hamilton Meats,LA,270380,chicken breast 5oz 2195,157.00,2/10#,4.10,656.26,420,Chicken,I,Chicken Breast,Num_Pounds,20.0
3330,02/08/19,64 Degrees,Hamilton Meats,LM,270379,chicken breast 5oz 2195,30.00,2/10#,4.24,127.07,420,Chicken,I,Chicken Breast,Num_Pounds,20.0
3331,02/08/19,64 Degrees,Hamilton Meats,LM,270378,chicken breast 5oz 2195,32.00,2/10#,4.13,132.10,420,Chicken,I,Chicken Breast,Num_Pounds,20.0
3334,02/11/19,Cafe Ventanas,Hamilton Meats,LM,270669,chicken breast 5oz 2195,122.00,2/10#,4.17,508.29,420,Chicken,I,Chicken Breast,Num_Pounds,20.0
3339,02/12/19,64 Degrees,Hamilton Meats,KSZ,270667,chicken breast 5oz 2195,92.00,2/10#,4.16,382.47,420,Chicken,I,Chicken Breast,Num_Pounds,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7237,10/22/18,Cafe Ventanas,SYSCO,CW,136754784,chicken breast 5oz 2195,62.06,lb,3.45,214.11,20,Chicken,I,Chicken Breast,Num_Pounds,1.0
7280,11/06/18,64 Degrees,SYSCO,pr,136774146,chicken breast 5oz 2195,61.00,lb,3.40,212.59,20,Chicken,I,Chicken Breast,Num_Pounds,1.0
7411,01/24/19,OceanView,SYSCO,pr,136859874,chicken breast 5oz 2195,123.00,lb,3.50,432.82,20,Chicken,I,Chicken Breast,Num_Pounds,1.0
7698,11/07/19,Cafe Ventanas,SYSCO,jm,236194839,chicken breast 5oz 2195,148.00,lb,2.90,438.08,20,Chicken,I,Chicken Breast,Num_Pounds,1.0
7705,11/08/19,Cafe Ventanas,SYSCO,JM,236196060,chicken breast 5oz 2195,46.00,lb,4.40,203.55,20,Chicken,I,Chicken Breast,Num_Pounds,1.0

In [73]:
nomayjune[nomayjune['TYPE'] == 'Chicken Breast']['value'].value_counts()

1.0     452
20.0    435
40.0    271
Name: value, dtype: int64

In [65]:
nomayjune[nomayjune['TYPE'] == 'Egg Liquid']['value'].sum()

70840.0

In [70]:
nomayjune[nomayjune['TYPE'] == 'Egg Liquid']['QUANTITY'].sum()

4647.0

In [71]:
70840 * 4647

329193480