In [1]:
import pandas as pd
import re

In [2]:
df = pd.read_csv('hdh18-20.csv')

In [3]:
df

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
0,05/01/18,Pines,SP (Do Not Use,tkk,29315,BEEF GROUND BLK 81/19 FINE,50.00,LB,2.10,104.95,620,Beef,I
1,05/01/18,Pines,SP (Do Not Use,tkk,29315,Pork Diced Stew 2566,40.00,LB,2.60,103.96,620,Pork,I
2,05/01/18,OceanView,TZALI'S (Do not,SJ,387349,Kosher Ground Beef 80/20 Raw 2,155.73,LB,4.90,777.09,212,Beef,I
3,05/01/18,OceanView,TZALI'S (Do not,SJ,387349,Kosher Chicken Wogs 2042,1047.90,LB,2.20,2399.69,212,Chicken,I
4,05/01/18,Goody's Place,SP (Do Not Use,pm,29300,Picada Carne Asada 0170,120.00,LB,3.20,389.88,620,Beef,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126495,06/29/20,64 Degrees,SYSCO,pr,236413529,Grill Brick 3560,1.00,12 CT,21.50,21.59,20,Soaps & Cleaning Supplies,I
126496,06/29/20,64 Degrees,SYSCO,pr,236413529,SALES TAX SOAP & CLEANING,21.53,LB,1.00,21.53,20,Soaps & Cleaning Supplies,I
126497,06/29/20,64 Degrees,SYSCO,pr,236413529,SANITIZER HAND GEL 70% 356,1.00,4/GAL,121.70,121.70,20,Soaps & Cleaning Supplies,I
126498,06/29/20,64 Degrees,SANTA MONICA,pr,6544866,SALMON ATLANTIC FIL SKIN/OF,18.19,LB,8.49,154.43,160,Seafood,I
126499,06/30/20,64 Degrees,SANTA MONICA,CW,6548811,"Salmon Atl,Fil Sk/On 3550",20.53,LB,9.49,194.83,160,Seafood,I

In [7]:
sys = meats[meats['VENDOR'] == 'SYSCO']
sys

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
5535,05/01/18,Pines,SYSCO,tkk-CW,136557822,Chicken Tenderloin Brd Fritter Ra,12.0,2/5#,29.50,354.00,20,Chicken,I
5550,05/01/18,Pines,SYSCO,tkk-CW,136557822,EGG SHELL LARGE CAGE FRE,1.0,15 DZ,24.65,24.65,20,Eggs,I
5551,05/01/18,Pines,SYSCO,tkk-CW,136557822,Egg Hardboiled 1064,1.0,12/DZ,31.70,31.70,20,Eggs,I
5552,05/01/18,Pines,SYSCO,tkk-CW,136557822,Egg Liquid CF 1070,4.0,2/20#,59.70,238.80,20,Eggs,I
5582,05/01/18,Pines,SYSCO,tkk-CW,136557822,Bean Black 1294,1.0,6/#10,22.30,22.37,20,Legumes,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126468,06/26/20,64 Degrees,SYSCO,pr,236411218,EGG SHELL LARGE CAGE FRE,2.0,15 DZ,26.70,53.56,20,Eggs,I
126474,06/26/20,64 Degrees,SYSCO,pr,236411218,Bacon Layflat Smoked 14-18 124,2.0,1/15#,53.88,107.76,20,Pork,I
126477,06/27/20,64 Degrees,SYSCO,CW,236412756,EGG SHELL LG RETAIL 1057,-1.0,15/DZ,29.45,-29.45,20,Eggs,CM
126489,06/29/20,64 Degrees,SYSCO,pr,236413529,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I
126490,06/29/20,64 Degrees,SYSCO,pr,236413529,Sausage Link 8380,2.0,200cs,27.65,55.30,20,Pork,I

In [16]:
sys[sys['ITEM'] == 'GYRO MEAT SLICES PRCK THICK']

Empty DataFrame
Columns: [INVOICE_DATE, LOC, VENDOR, PO_NUMBER, INVOICE_NUMBER, ITEM, QUANTITY, UNIT, COST, EXTENDED_COST, VENDOR_NO, CATEGORY, CM_OR_INV]
Index: []

In [13]:
(sys['ITEM'].unique())

array(['Chicken Tenderloin Brd Fritter Ra', 'EGG SHELL LARGE CAGE FRE',
       'Egg Hardboiled 1064', 'Egg Liquid CF 1070', 'Bean Black 1294',
       'Bean Garbanzo Fancy No Sulfite', 'Bean Green French Cut 1293',
       'Bean Kidney Dark Red #10 0044', 'Bean Pinto 0040',
       'Peanut Butter PC 0946', 'Tofu Organic 2863',
       'Bacon Layflat Smoked 14-18 124', 'HAM SLICED HONEY SMK NAT',
       'Pork Belly Skinless 2553', 'Sausage Link 8380',
       'Breast Turkey 100% Natural 1280',
       'Turkey Breast S/on Raw Foil Wra',
       'Burger Black Bean Chipotle Patty', 'BEEF PASTRAMI BTM RND FLA',
       'Chicken Breast 5oz 2195', 'TOFU RED FIRM 2712',
       'TURKEY BREAST SLICED 0442', 'BEEF ROAST BTM RND SLI .67',
       'Chicken Breast Grill Mark 4z 628',
       'Ham Smoked Sliced 1/2oz. 1444', 'Pork Carnitas Cooked 1046',
       'Sausage Italian Spicy Topping 05', 'Beef Ground Patty 3to1 1035',
       'Beef Patty Ground 4 to1 1032', 'Beef Patty Ground 5to1 1034',
       'Vegetarian Soy Fishless Filet 400', 'Beef Hot Dog 6in 5to1 1256',
       'Chicken Orange No Sauce 0579', 'Burger Turkey Patty 3 to1 4725',
       'Vegan Burger Patty 4000', 'Beef Meatball Italian 1oz. 1315',
       'Steak Beef Country Fried 5.33z 0', 'Egg Whites Liquid 1072',
       'Bean Refried Dehydrated Veg. 00', 'Corn Dog Turkey 6506',
       'PATTY VEGETABLE SPICY BRE', 'BEAN GARBANZO ORGANIC #1',
       'Sausage Pork Patty Cooked 1040',
       'Chicken Breast Deli Foster Farm', 'Bean Green Cut 0042',
       'Sausage Italian Mild Raw Bulk 10',
       'Beef/Pork Meatballs 1/2oz. 1316', 'Sauce Peanut Bangkok 4554',
       'Soybean Edamame Shelled 4006', 'Tofu Firm 14 OZ 2718',
       'SUPPLEMENT BEEF 0842', 'Pancetta Fra Mani 4179',
       'BACON PRECOOKED SLAB SL', 'Pepperoni Sliced 1449',
       'Salami Genoa Sliced 0626', 'Chx Breast Airline S/O 8z Pallisad',
       'Bacon Smoked Hardwood Chopp', 'Bean White Small 0007',
       'Pork Sausage Hot Louisiana 358', 'CHICKEN WING PRECOOKED 0',
       'Meat Gyro Beef/Lamb Raw 1152', 'STEAK FILET CUT 6oz 1036',
       'Chicken Fajita Strips Thigh Cook',
       'Turkey Breast French Cut 1016', 'BEAN LENTIL DRIED 0304',
       'REYNALDOS SOY CHORIZO 98', 'Hot Dog Franks 6x1 6" 1219',
       'Ham Boneless Round Honey 145', 'Chicken Tender Homestyle Cook',
       'CHICKEN BREAST RANDOM 21', 'Chicken Wing Party FF 2123',
       'Bean Baked New England Style 1', 'BUSH BAKED BEAN VEGETARI',
       'GYRO MEAT SLICED 1153', 'FZ Sausage Link Turkey 1 OZ 20',
       'Bean Garbanzo #300 15z 0691', 'Bean Kidney Dark Red 15z 3667',
       'Bratwurst Link Ultimate 4:1 6" 434',
       'Sausage Italian Mild Link 0174', 'Chicken Whole Leg IQF SYS 111',
       'Supplement Chicken 0849', 'Supplememt Eggs 0863',
       'Chicken Tender Fritter Flat Orig 1',
       'Turkey Breast Oven Prepared 83', 'VG NAT FOREST YOUNG JACK',
       'Supplement Pork 0840', 'Sausage Links Skinless 1z 0446',
       'Lentils Black Beluga 0299', 'Prosciutto Dry Cured Ham Parma',
       'Salami Genoa A/C 2996', 'BACON SLAB SLI 14/16 NAT UN',
       'DAIYA MOZZ SHRD CHS VEGN', 'Turkey Ground Raw FZ 85/15 045',
       'Breast Veg Chix Sub 3.8z Garde', 'Vegetable Peas Green 0402',
       'GARBANZO BEAN GREEN FRE', 'Chicken Wog 2099',
       'Chicken Thigh B/S 2108', 'Chicken Thigh Diced 2098',
       'Bean Pinto Dried 0041', 'SAUSAGE SMK APPLE SAGE F',
       'Pork Ham Diced .25" Water Adde', 'EDAMAME SHELL ON 4005',
       'Chicken Wog Quarter 2119', 'DO NOT COUNT, USE FP 2098',
       'Chicken Breast Half 2109', 'TURKEY TOMS 0153',
       'Patty Vegetable Spicy 0283', 'PEAS GREEN SPLIT 4745',
       'Chicken Diced Dark 2096', 'CHICKEN PULLED 2112',
       'STEAK TENDERLOIN 5 OZ 0227', 'Chicken Breast 6oz 2106',
       'PORK BBQ BUN 8338', 'KOSHER GROUND TURKEY 044',
       'Pastrami Beef Brisket Slicd 0449', 'SUPPLEMENT TURKEY 0850',
       'Turkey breast sli/rstd 22133', 'HAM BNLS 1180',
       'BEEF TENDERLOIN 189A 0142', 'Beef Patty 8:1 1029',
       'SKIPPY CREAMY PEANUT BUT', 'PEPPERONI ALL BEEF 4522',
       'EGG SHELL LG RETAIL 1057', 'SUPP VEGETARIAN PROTEIN 0',
       'Bean Refried Canned 0059', 'BEEF FLANK STEAK 193 0062',
       'REYNALDOS BEEF CHORIZO 4', 'Halal Ground Beef 2117',
       'Turkey Meatball 1oz 1281', 'SAUSAGE TURKEY PATTY 1038',
       'HEN CORNISH GAME 1060', 'HAM BONELESS SMOKED 1183',
       'Beef Patty Ground Chuck Steak 4',
       'Patty Veggie Meatless Burger 40',
       'Chicken Thigh B/I S/O P1033 096', 'HALAL BEEF PATTY 5:1 0764',
       'HALAL TRI TIP 0762', 'CHICKEN LEG QTRS 1113',
       'HALAL BALL TIP 0769', 'JUST EGG 1067',
       'HALAL BEEF PATTY 4:1 0770', 'HALAL CARNE ASADA BEEF 07',
       'Pea Black Eyed Canned 4561', 'SAUSAGE LINK ANDOUILLE 4:1',
       'Beans Refried 8178', 'Frank All Beef Hot Dog 2x1 12" 2',
       'HALAL CHICKEN THIGH BL/SL 2', 'CORNED BEEF BRISKET 0759',
       'HALAL STIR FRY BEEF 0766', 'BEEF PATTY GROUND 4 :1 1032',
       'BACON LAYFLAT 13/17 0659', 'BEEF BRISKET 120A 8410'], dtype=object)

In [4]:
SP = df[(df['VENDOR'] == 'SP (Do Not Use') | (df['VENDOR'] == 'Seaport Meat Co')]
SP = SP[~(SP['CM_OR_INV'] == 'CM')]
SP[SP['INVOICE_DATE'].str.endswith('19')]['EXTENDED_COST'].sum()

402437.2

In [5]:
Hamilton = df[df['VENDOR'] == 'Hamilton Meats']
Hamilton = Hamilton[~(Hamilton['CM_OR_INV'] == 'CM')]
Hamilton[Hamilton['INVOICE_DATE'].str.endswith('19')]['EXTENDED_COST'].sum()

306269.26

In [6]:
# We are only concerned with the proteins (meats)
meat_list = ['Beef', 'Pork', 'Chicken', 'Speciality Meats', 'Turkey', 'Eggs', 'Legumes', 'Processed Vegetarian Protein']
meats = df[df['CATEGORY'].isin(meat_list)]
meats

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
0,05/01/18,Pines,SP (Do Not Use,tkk,29315,BEEF GROUND BLK 81/19 FINE,50.00,LB,2.10,104.95,620,Beef,I
1,05/01/18,Pines,SP (Do Not Use,tkk,29315,Pork Diced Stew 2566,40.00,LB,2.60,103.96,620,Pork,I
2,05/01/18,OceanView,TZALI'S (Do not,SJ,387349,Kosher Ground Beef 80/20 Raw 2,155.73,LB,4.90,777.09,212,Beef,I
3,05/01/18,OceanView,TZALI'S (Do not,SJ,387349,Kosher Chicken Wogs 2042,1047.90,LB,2.20,2399.69,212,Chicken,I
4,05/01/18,Goody's Place,SP (Do Not Use,pm,29300,Picada Carne Asada 0170,120.00,LB,3.20,389.88,620,Beef,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126468,06/26/20,64 Degrees,SYSCO,pr,236411218,EGG SHELL LARGE CAGE FRE,2.00,15 DZ,26.70,53.56,20,Eggs,I
126474,06/26/20,64 Degrees,SYSCO,pr,236411218,Bacon Layflat Smoked 14-18 124,2.00,1/15#,53.88,107.76,20,Pork,I
126477,06/27/20,64 Degrees,SYSCO,CW,236412756,EGG SHELL LG RETAIL 1057,-1.00,15/DZ,29.45,-29.45,20,Eggs,CM
126489,06/29/20,64 Degrees,SYSCO,pr,236413529,Bean Black 1294,1.00,6/#10,25.31,25.31,20,Legumes,I
126490,06/29/20,64 Degrees,SYSCO,pr,236413529,Sausage Link 8380,2.00,200cs,27.65,55.30,20,Pork,I

In [7]:
meats['UNIT'].unique()

array(['LB', nan, '10/LB', '2/10#', '4/10#', '40#', '10#', '12 CT',
       '12/LB', '2/5#', '15 DZ', '12/DZ', '2/20#', '6/#10', '6/cs',
       '12/2#', '200cs', '6/16z', '1/15#', '4/2.5#', '48ct', 'CASE',
       '/10.10', '80/4z', '40/CT', '48/4CS', '0/5.33', '15/2#', '6/30z',
       '72/4z', '112ct', '16/2c', '/#10 C', '07/1.5', '30#', '4/48z',
       '6/2.5#', '12/CS', '10 LB', '300ct', '4/2.5', '4/cs', '6/2#',
       '5/3#', '2/12.5#', '20#', '16/cs', '6/2.5', '6/CS', '6/5#', '4/4#',
       '2/6#', '8/7.3', '5/30z', '5#', '50/CS', '5/CS', '3/5#', '50#',
       '10#CS', '0/16 O', '2/12 C', '6/CAS', 'CS', '32/CS', '10/3LB',
       '2/7.5#', '2#', '15#', '2/16.3', '25#', '15/DZ', '0/4 OZ',
       '2/12 O', '4/3#', '0/30.5', '/30 OZ', 'EACH', '6/11 O', '8/2#',
       '107/cs', '/12/3.5', '15/2lb', '/27.09', '2/15 O', '16/2 CT',
       '15/DZN', '4/5#', '96ct'], dtype=object)

In [8]:
# take out all NaN values from the UNIT column since we cannot use that in our data.
# These are usually items that have "DO NOT USE" in the ITEM column
meats_no_nan = meats[meats['UNIT'].notna()]

In [10]:
meats_no_nan
# 27,316 rows -> 27,512

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
0,05/01/18,Pines,SP (Do Not Use,tkk,29315,BEEF GROUND BLK 81/19 FINE,50.00,LB,2.10,104.95,620,Beef,I
1,05/01/18,Pines,SP (Do Not Use,tkk,29315,Pork Diced Stew 2566,40.00,LB,2.60,103.96,620,Pork,I
2,05/01/18,OceanView,TZALI'S (Do not,SJ,387349,Kosher Ground Beef 80/20 Raw 2,155.73,LB,4.90,777.09,212,Beef,I
3,05/01/18,OceanView,TZALI'S (Do not,SJ,387349,Kosher Chicken Wogs 2042,1047.90,LB,2.20,2399.69,212,Chicken,I
4,05/01/18,Goody's Place,SP (Do Not Use,pm,29300,Picada Carne Asada 0170,120.00,LB,3.20,389.88,620,Beef,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126468,06/26/20,64 Degrees,SYSCO,pr,236411218,EGG SHELL LARGE CAGE FRE,2.00,15 DZ,26.70,53.56,20,Eggs,I
126474,06/26/20,64 Degrees,SYSCO,pr,236411218,Bacon Layflat Smoked 14-18 124,2.00,1/15#,53.88,107.76,20,Pork,I
126477,06/27/20,64 Degrees,SYSCO,CW,236412756,EGG SHELL LG RETAIL 1057,-1.00,15/DZ,29.45,-29.45,20,Eggs,CM
126489,06/29/20,64 Degrees,SYSCO,pr,236413529,Bean Black 1294,1.00,6/#10,25.31,25.31,20,Legumes,I
126490,06/29/20,64 Degrees,SYSCO,pr,236413529,Sausage Link 8380,2.00,200cs,27.65,55.30,20,Pork,I

# We will be separting the dataframe into groups based on the unit type.
1. Those that end with '#' will be in the dataframe 'pound' (9,328 obs)
2. Those that end with 'z' will be in the dataframe 'ounce' (3,301 obs) (took out oz which only had 5 obs)
3. Those that end with 'cs', 'case', 'cas' will be in the dataframe 'case' (3,294 obs)
4. Those that end with 'dz' or 'dzn' will be in the dataframe 'dozen' (2,037 obs) (all Eggs CATEGORY)
5. Those with 'lb' in the dataframe 'lb_only' (5,493 obs)
6. Those with 'ct' in the dataframe 'count' (1,608 obs)
#### TOTAL: 27,316/27,316 
## Need to figure out what to do with units such as:
1. '6/#10', - DONE (1234 rows)
2. '/10.10' - DONE (142 rows)
3. '/#10' - DONE (97 rows)
4. '0/16 O' - DONE (88 rows)
5. '16/2c' - DONE (97 rows)
2. ones with only numbers '0/30.5', - DONE (4 rows)
4. '2/1.88'
3. O
4. OZ (took out for now) - DONE (5 rows)
8. EACH (6 cans of 109oz) - DONE

In [11]:
# make all units lowercase
meats_no_nan['UNIT'] = meats_no_nan['UNIT'].str.lower()

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [13]:
# creating the POUND dataframe (ending with '#')
pound = meats_no_nan[meats_no_nan['UNIT'].str.endswith('#')]
pound
# 9,328 rows 9422

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
2079,02/08/19,Cafe Ventanas,Hamilton Meats,LA,270380,Chicken Breast 5oz 2195,157.0,2/10#,4.10,656.26,420,Chicken,I
2088,02/08/19,64 Degrees,Hamilton Meats,LM,270379,Chicken Breast 5oz 2195,30.0,2/10#,4.24,127.07,420,Chicken,I
2089,02/08/19,64 Degrees,Hamilton Meats,LM,270378,Chicken Breast 5oz 2195,32.0,2/10#,4.13,132.10,420,Chicken,I
2090,02/08/19,64 Degrees,Hamilton Meats,LM,270379,Chicken Thigh B/S 2108,80.0,2/10#,2.35,188.00,420,Chicken,I
2091,02/08/19,64 Degrees,Hamilton Meats,LM,270378,Chicken Thigh B/S 2108,320.0,2/10#,2.35,752.00,420,Chicken,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126438,06/22/20,64 Degrees,SYSCO,CW,236408255,Chicken Orange No Sauce 0579,4.0,10#,33.01,132.04,20,Chicken,I
126439,06/22/20,64 Degrees,SYSCO,CW,236408255,Chicken Tender Homestyle Cook,4.0,2/5#,33.30,133.20,20,Chicken,I
126451,06/24/20,64 Degrees,SYSCO,pr,236409779,CHICKEN BREAST RANDOM 21,2.0,4/10#,84.93,169.86,20,Chicken,I
126464,06/26/20,64 Degrees,SYSCO,pr,236411218,Chicken Tender Homestyle Cook,4.0,2/5#,33.30,133.20,20,Chicken,I
126474,06/26/20,64 Degrees,SYSCO,pr,236411218,Bacon Layflat Smoked 14-18 124,2.0,1/15#,53.88,107.76,20,Pork,I

In [14]:
def pounds(x):
    """
    This function cleans the units which have '#'
    If there is a unit '10#' that is equivalent to 10 lbs
    If there is a unit '15/2#' that is equivalent to 30 lbs (15 bags of 2 lbs each) or '2/25#' is 2 bags of 25 lb each
    """
    if '/' not in x:
        return x[:-1]
    else:
        bags = float(re.findall('.*\/', x)[0][:-1])
        pounds_per = float(re.findall('\/.*#', x)[0][1:-1])
        return bags * pounds_per

In [15]:
pound['Num_Pounds'] = pound['UNIT'].apply(pounds)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [18]:
# creating the DOZEN dataframe (ending with 'dz' or 'dzn')
dozen = meats_no_nan[meats_no_nan['UNIT'].str.endswith('dz') | meats_no_nan['UNIT'].str.endswith('dzn')]
dozen
# 2,037 rows (only contains CATEGORY == 'Egg') 2057

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
5550,05/01/18,Pines,SYSCO,tkk-CW,136557822,EGG SHELL LARGE CAGE FRE,1.0,15 dz,24.65,24.65,20,Eggs,I
5551,05/01/18,Pines,SYSCO,tkk-CW,136557822,Egg Hardboiled 1064,1.0,12/dz,31.70,31.70,20,Eggs,I
5709,05/01/18,Canyon Vista,SYSCO,g,136557847,EGG SHELL LARGE CAGE FRE,1.0,15 dz,24.60,24.65,20,Eggs,I
5755,05/01/18,64 Degrees,SYSCO,pcl-CW,136557818,EGG SHELL LARGE CAGE FRE,2.0,15 dz,24.60,49.30,20,Eggs,I
5756,05/01/18,64 Degrees,SYSCO,pcl-CW,136557818,Egg Hardboiled 1064,1.0,12/dz,31.70,31.70,20,Eggs,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126304,06/11/20,Pines,SYSCO,pr,236400404,EGG SHELL LARGE CAGE FRE,1.0,15 dz,26.78,26.78,20,Eggs,I
126341,06/11/20,64 Degrees,SYSCO,pr,236400403,EGG SHELL LARGE CAGE FRE,2.0,15 dz,26.78,53.56,20,Eggs,I
126442,06/22/20,64 Degrees,SYSCO,CW,236408255,EGG SHELL LARGE CAGE FRE,4.0,15 dz,26.78,107.12,20,Eggs,I
126468,06/26/20,64 Degrees,SYSCO,pr,236411218,EGG SHELL LARGE CAGE FRE,2.0,15 dz,26.70,53.56,20,Eggs,I
126477,06/27/20,64 Degrees,SYSCO,CW,236412756,EGG SHELL LG RETAIL 1057,-1.0,15/dz,29.45,-29.45,20,Eggs,CM

In [19]:
def dozens(x):
    return float(re.findall('[0-9]{1,2}', x)[0])

In [20]:
dozen['Num_Count'] = dozen['UNIT'].apply(dozens) * 12

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [21]:
# creating the OUNCE dataframe (ending with 'z') AND take out those with 'd' for dozen
oz = meats_no_nan[meats_no_nan['UNIT'].str.endswith('z')] #5,341 rows
oz = oz[~oz['UNIT'].str.contains('d')] #3,306 rows # takes out 'dz'

In [23]:
ounce = oz[~oz['UNIT'].str.contains('o')] 
ounce
#3,301 rows (only took out 5 rows) 3345
# '0/4 oz' and '/30 oz' to be dealt with afterwards

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
5588,05/01/18,Pines,SYSCO,tkk-CW,136557822,Tofu Organic 2863,7.0,6/16z,13.82,96.74,20,Legumes,I
5689,05/01/18,Foodworx,SYSCO,DLJ,136557849,Tofu Organic 2863,1.0,6/16z,13.82,13.82,20,Legumes,I
5739,05/01/18,64 Degrees,SYSCO,pcl-CW,136557818,Beef Patty Ground 4 to1 1032,100.0,80/4z,2.58,257.50,20,Beef,I
5785,05/01/18,64 Degrees,SYSCO,pcl-CW,136557818,Tofu Organic 2863,5.0,6/16z,13.82,69.10,20,Legumes,I
5817,05/02/18,Pines,SYSCO,tkk-pr,136558972,Beef Patty Ground 4 to1 1032,2.0,80/4z,51.50,103.00,20,Beef,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126423,06/19/20,64 Degrees,SYSCO,pr,236405974,Bean Refried Dehydrated Veg. 00,2.0,6/30z,25.84,51.68,20,Legumes,I
126424,06/19/20,64 Degrees,SYSCO,pr,236405974,Tofu Organic 2863,2.0,6/16z,13.82,27.64,20,Legumes,I
126436,06/22/20,64 Degrees,SYSCO,CW,236408255,BEEF PATTY GROUND 4 :1 1032,1.0,80/4z,64.30,64.30,20,Beef,I
126450,06/24/20,64 Degrees,SYSCO,pr,236409779,BEEF PATTY GROUND 4 :1 1032,4.0,80/4z,64.30,257.20,20,Beef,I
126458,06/24/20,64 Degrees,SYSCO,pr,236409779,Tofu Organic 2863,2.0,6/16z,14.93,29.86,20,Legumes,I

In [24]:
def ounces(x):
    if '/' not in x:
        return x[:-1]
    else:
        bags = float(re.findall('.*\/', x)[0][:-1])
        pounds_per = float(re.findall('\/.*z', x)[0][1:-1])
        return bags * pounds_per

In [25]:
# convert to pounds
# 1 oz = 0.0625 lb
ounce['Num_Pounds'] = (ounce['UNIT'].apply(ounces)) * 0.0625

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [26]:
# Check for '0/4 oz' and '/30 oz'
oz_04 = oz[oz['UNIT'] == '0/4 oz']
oz_30 = oz[oz['UNIT'] == '/30 oz']
oz_only = pd.concat([oz_04, oz_30], axis=0, ignore_index=True)
# 5 rows

In [27]:
def oz_cleaner(x):
    # this was an error, pack size is 5/30oz, each case 5 bags of 30 ounces each bag
    if x == '/30 oz':
        return 150
    # this is 80/4oz, 80 patties 4 oz each per case
    elif x == '0/4 oz':
        return 320
    else:
        return None

In [28]:
# convert to pounds
# 1 oz = 0.0625 lb
oz_only['Num_Pounds'] = (oz_only['UNIT'].apply(oz_cleaner)) * 0.0625

In [30]:
lb_only = meats_no_nan[meats_no_nan['UNIT'].str.endswith('lb')]
lb_only
# 5,493 rows 5508

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
0,05/01/18,Pines,SP (Do Not Use,tkk,29315,BEEF GROUND BLK 81/19 FINE,50.00,lb,2.10,104.95,620,Beef,I
1,05/01/18,Pines,SP (Do Not Use,tkk,29315,Pork Diced Stew 2566,40.00,lb,2.60,103.96,620,Pork,I
2,05/01/18,OceanView,TZALI'S (Do not,SJ,387349,Kosher Ground Beef 80/20 Raw 2,155.73,lb,4.90,777.09,212,Beef,I
3,05/01/18,OceanView,TZALI'S (Do not,SJ,387349,Kosher Chicken Wogs 2042,1047.90,lb,2.20,2399.69,212,Chicken,I
4,05/01/18,Goody's Place,SP (Do Not Use,pm,29300,Picada Carne Asada 0170,120.00,lb,3.20,389.88,620,Beef,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126121,05/26/20,Cafe Ventanas,Seaport Meat Co,CW,8930,Supplement Chicken 0849,55.56,lb,1.00,55.56,505,Chicken,I
126208,06/01/20,Cafe Ventanas,Seaport Meat Co,pr,9274,PICADA CARNE ASADA 0170,60.00,lb,5.50,329.94,505,Beef,I
126209,06/01/20,Cafe Ventanas,Seaport Meat Co,pr,9274,Chicken Thigh Diced 2098,80.00,lb,1.70,135.92,505,Chicken,I
126215,06/01/20,Canyon Vista,SYSCO,CW,236392068,Supplememt Eggs 0863,89.38,lb,1.00,89.38,20,Eggs,I
126366,06/15/20,64 Degrees,SYSCO,pr,236403241,BEEF BRISKET 120A 8410,39.30,lb,5.77,226.84,20,Beef,I

In [31]:
def lbs(x):
    """
    This function cleans the units which have 'lb'
    If there is a unit '10lb' or '10/lb' that is equivalent to 10 lbs ('lb' is equivalent to 1 lb)
    If there is a unit '15/2lb' that is equivalent to 30 lbs (15 bags of 2 lbs each)
    """
    if '/' not in x:
        x = x[:-2]
        if len(x) == 0:
            return 1
        else:
            return float(re.findall('[^\s]+', x)[0])
    else:
        bags = float(re.findall('.*\/', x)[0][:-1])
        if '/lb' in x:
            return bags
        else:
            pounds_per = float(re.findall('\/.*lb', x)[0][1:-2])
            return bags * pounds_per

In [32]:
lb_only['Num_Pounds'] = lb_only['UNIT'].apply(lbs)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
# dataframe COUNT which has UNIT ending with 'ct'
count = meats_no_nan[meats_no_nan['UNIT'].str.endswith('ct')]
count
# 1,608 rows 1611

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
5066,02/03/20,Canyon Vista,Sadaf Foods,CW,979150IN,SADAF KABOB BEEF SPICY 125,2.0,12 ct,81.00,162.0,490,Beef,I
5067,02/03/20,Canyon Vista,Sadaf Foods,CW,979150IN,SADAF KABOB BEEF 12519,2.0,12 ct,81.00,162.0,490,Beef,I
5079,02/03/20,Canyon Vista,Sadaf Foods,CW,979150IN,SADAF CHICKEN KABOB SPICY,2.0,12 ct,81.00,162.0,490,Chicken,I
5080,02/03/20,Canyon Vista,Sadaf Foods,CW,979150IN,SADAF KABOB CHICKEN 12517,2.0,12 ct,81.00,162.0,490,Chicken,I
5166,02/10/20,Canyon Vista,Sadaf Foods,KSZ,979638IN,SADAF GHORMEG SABZI STEW,1.0,12 ct,84.00,84.0,490,Beef,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
125460,03/30/20,64 Degrees,SYSCO,CW,236351281,Burger Turkey Patty 3 to1 4725,2.0,40/ct,39.95,79.9,20,Turkey,I
125467,03/31/20,Pines,SYSCO,pr,236353079,Burger Turkey Patty 3 to1 4725,-2.0,40/ct,39.95,-79.9,20,Turkey,CM
125929,05/11/20,Pines,SYSCO,CW,236378526,PATTY VEGETABLE SPICY BRE,1.0,96ct,49.70,49.7,20,Processed Vegetarian Protein,I
126170,05/28/20,Pines,SYSCO,pr,236389730,PATTY VEGETABLE SPICY BRE,1.0,96ct,49.70,49.7,20,Processed Vegetarian Protein,I
126256,06/04/20,Cafe Ventanas,SYSCO,pr,236395719,PATTY VEGETABLE SPICY BRE,1.0,96ct,49.70,49.7,20,Processed Vegetarian Protein,I

In [35]:
def counts(x):
    """
    This function cleans the units which have 'ct'
    If there is a unit '10ct' or '10/ct' that is equivalent to 10 ct
    If there is a unit '15/2 ct' that is equivalent to 30 ct (15 bags of 2 ct each)
    """
    if '/' not in x:
        x = x[:-2]
        if len(x) == 0:
            return 1
        else:
            return float(re.findall('[^\s]+', x)[0])
    else:
        bags = float(re.findall('.*\/', x)[0][:-1])
        if '/ct' in x:
            return bags
        else:
            pounds_per = float(re.findall('\/.*ct', x)[0][1:-2])
            return bags * pounds_per

In [36]:
count['Num_Count'] = count['UNIT'].apply(counts)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [38]:
# dataframe 'CASE' those ending with 'cs', 'case', or 'cas'
case = meats_no_nan[meats_no_nan['UNIT'].str.endswith('cs') | meats_no_nan['UNIT'].str.endswith('case') | meats_no_nan['UNIT'].str.endswith('cas')]
case
# 3,294 rows 3309

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
5583,05/01/18,Pines,SYSCO,tkk-CW,136557822,Bean Garbanzo Fancy No Sulfite,1.0,6/cs,23.40,23.44,20,Legumes,I
5587,05/01/18,Pines,SYSCO,tkk-CW,136557822,Peanut Butter PC 0946,1.0,200cs,36.48,36.48,20,Legumes,I
5592,05/01/18,Pines,SYSCO,tkk-CW,136557822,Sausage Link 8380,2.0,200cs,24.50,49.00,20,Pork,I
5679,05/01/18,Foodworx,SYSCO,DLJ,136557849,Chicken Breast Grill Mark 4z 628,4.0,case,44.65,178.60,20,Chicken,I
5738,05/01/18,64 Degrees,SYSCO,pcl-CW,136557818,Beef Hot Dog 6in 5to1 1256,8.0,case,33.60,268.80,20,Beef,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126363,06/11/20,64 Degrees,SYSCO,pr,236400403,SAUSAGE TURKEY PATTY 1038,3.0,107/cs,29.96,89.88,20,Turkey,I
126393,06/17/20,64 Degrees,SYSCO,pr,236404573,Bean Garbanzo Fancy No Sulfite,1.0,6/cs,23.90,23.91,20,Legumes,I
126401,06/17/20,64 Degrees,SYSCO,pr,236404573,SAUSAGE TURKEY PATTY 1038,1.0,107/cs,29.96,29.96,20,Turkey,I
126446,06/22/20,64 Degrees,SYSCO,CW,236408255,Salami Genoa Sliced 0626,1.0,4/cs,47.20,47.26,20,Pork,I
126490,06/29/20,64 Degrees,SYSCO,pr,236413529,Sausage Link 8380,2.0,200cs,27.65,55.30,20,Pork,I

In [39]:
def cases(x):
    """
    This function cleans the units which have 'ct'
    If there is a unit '10ct' or '10/ct' that is equivalent to 10 ct
    If there is a unit '15/2 ct' that is equivalent to 30 ct (15 bags of 2 ct each)
    """
    if x == 'case':
        return 1
    elif '/' not in x and '#' not in x:
        x = x[:-2]
        if len(x) == 0:
            return 1
        else:
            return float(re.findall('[^\s]+', x)[0])
    else:
        bags = float(re.findall('.*[/#]', x)[0][:-1])
        if ('/cs' in x) or ('#cs' in x) or ('/cas' in x):
            return bags
        else:
            pounds_per = float(re.findall('[/#].*[cs|cas]', x)[0][1:-2])
            return bags * pounds_per

In [40]:
case['Num_Cases'] = case['UNIT'].apply(cases)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [42]:
weird_ct = meats_no_nan[(meats_no_nan['UNIT'] == '2/12 c') | (meats_no_nan['UNIT'] == '16/2c')]
weird_ct
# 100 rows 100

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
5917,05/02/18,OceanView,SYSCO,SJ-pr,136559111,Egg Hardboiled 1064,1.0,16/2c,28.72,28.72,20,Eggs,I
7438,05/08/18,OceanView,SYSCO,SJ,136565260,Egg Hardboiled 1064,1.0,16/2c,29.04,29.04,20,Eggs,I
8095,05/11/18,OceanView,SYSCO,SJ-pr,136569000,Egg Hardboiled 1064,1.0,16/2c,29.04,29.04,20,Eggs,I
8837,05/15/18,OceanView,SYSCO,SJ-CW,136572597,Egg Hardboiled 1064,1.0,16/2c,29.04,29.04,20,Eggs,I
9469,05/17/18,OceanView,SYSCO,SJ-CW,136574869,Egg Hardboiled 1064,1.0,16/2c,29.04,29.04,20,Eggs,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
118657,02/18/20,Cafe Ventanas,SYSCO,pr,236310185,Egg Hardboiled 1064,1.0,2/12 c,35.31,35.31,20,Eggs,I
120948,02/27/20,OceanView,SYSCO,pr,236320658,Egg Hardboiled 1064,3.0,16/2c,33.95,101.85,20,Eggs,I
121642,03/02/20,OceanView,SYSCO,pr,236326049,Egg Hardboiled 1064,2.0,16/2c,33.95,67.90,20,Eggs,I
123280,03/09/20,OceanView,SYSCO,pr,236333751,Egg Hardboiled 1064,1.0,16/2c,33.90,33.95,20,Eggs,I
124007,03/11/20,OceanView,SYSCO,pr,236336824,Egg Hardboiled 1064,2.0,16/2c,33.95,67.90,20,Eggs,I

In [43]:
def weird_ct_def(x):
    if x == '2/12 c':
        return 24
    elif x == '16/2c':
        return 32
    else:
        return None

In [44]:
weird_ct['Num_Count'] = weird_ct['UNIT'].apply(weird_ct_def)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [46]:
weird_lb = meats_no_nan[(meats_no_nan['UNIT'] == '07/1.5') | (meats_no_nan['UNIT'] == '4/2.5') | 
             (meats_no_nan['UNIT'] == '6/2.5') | (meats_no_nan['UNIT'] == '2/16.3') | 
             (meats_no_nan['UNIT'] == '0/5.33') | (meats_no_nan['UNIT'] == '8/7.3') | 
             (meats_no_nan['UNIT'] == '/27.09') | (meats_no_nan['UNIT'] == 'each') |
             (meats_no_nan['UNIT'] == '2/15 o') | (meats_no_nan['UNIT'] == '2/12 o') | 
             (meats_no_nan['UNIT'] == '6/11 o') | (meats_no_nan['UNIT'] == '0/30.5') | 
             (meats_no_nan['UNIT'] == '0/16 o') | (meats_no_nan['UNIT'] == '/12/3.5') | 
             (meats_no_nan['UNIT'] == '/#10 c') | (meats_no_nan['UNIT'] == '/10.10') | 
             (meats_no_nan['UNIT'] == '6/#10')]
weird_lb
# 2,150 rows 2155

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
5582,05/01/18,Pines,SYSCO,tkk-CW,136557822,Bean Black 1294,1.0,6/#10,22.30,22.37,20,Legumes,I
5585,05/01/18,Pines,SYSCO,tkk-CW,136557822,Bean Kidney Dark Red #10 0044,1.0,6/#10,29.84,29.84,20,Legumes,I
5586,05/01/18,Pines,SYSCO,tkk-CW,136557822,Bean Pinto 0040,1.0,6/#10,20.23,20.23,20,Legumes,I
5652,05/01/18,OceanView,SYSCO,VMF-CW,136557846,Bean Black 1294,1.0,6/#10,22.37,22.37,20,Legumes,I
5674,05/01/18,Goody's Place,SYSCO,pm-CW,136557851,Bean Black 1294,12.0,6/#10,22.37,268.44,20,Legumes,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126181,05/28/20,Canyon Vista,SYSCO,pr,236389733,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I
126206,06/01/20,Cafe Ventanas,SYSCO,pr,236392064,Bean Pinto 0040,1.0,6/#10,21.46,21.46,20,Legumes,I
126392,06/17/20,64 Degrees,SYSCO,pr,236404573,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I
126422,06/19/20,64 Degrees,SYSCO,pr,236405974,Bean Black 1294,1.0,6/#10,25.30,25.31,20,Legumes,I
126489,06/29/20,64 Degrees,SYSCO,pr,236413529,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I

In [47]:
def weird_lb_def(x):
    # 107/1.5oz – 107 patties in a case, 1.5oz per patty
    if x == '07/1.5':
        return (107 * 1.5) * 0.0625
    # 4 packages per case, 2.5lb per package
    elif x == '4/2.5':
        return 4 * 2.5
    # 6 bags per case, 2.5lb per bag
    elif x == '6/2.5':
        return 6 * 2.5
    # 12/16.3oz – 12 jars per case, 16.3oz per jar
    elif x == '2/16.3':
        return (12 * 16.3) * 0.0625
    # 30/5.33oz – 30 per case, 5.33oz each
    elif x == '0/5.33':
        return (30 * 5.33) * 0.0625
    # 48/7.3oz – 48 per case, 7.3oz each
    elif x == '8/7.3':
        return (48 * 7.3) * 0.0625
    # 6/30oz – 6 bags per case, 30oz per bag
    elif x == '/27.09':
        return (6 * 30) * 0.0625
    # 6/#10can – 6 cans per case, 109oz per can
    elif x == 'each':
        return (6 * 109) * 0.0625
    elif x == '2/15 o':
        return (2 * 15) * 0.0625
    elif x == '2/12 o':
        return (2 * 12) * 0.0625
    elif x == '6/11 o':
        return (6 * 11) * 0.0625
    # this was an error, pack size is 5/30oz, each case 5 bags of 30 ounces each bag
    elif x == '0/30.5':
        return 150 * 0.0625
    # this is 20/16oz, so 20, 16 ounce bags per case
    elif x == '0/16 o':
        return (20 * 16) * 0.0625
    # this is 4/12/3.5oz, each case has 4 bags, each bag has 12 patties, each patty is 3.5oz
    elif x == '/12/3.5':
        return (4 * 12 * 3.5) * 0.0625
    # 6/#10can – 6 cans per case, 109oz per can
    elif x == '/#10 c':
        return (6 * 109) * 0.0625
    # this was cut off, it is 8/10.10oz, so each case is 8 bags of 10.10 ounces each bag
    elif x == '/10.10':
        return (8 * 10.10) * 0.0625
    # 6/#10can – 6 cans per case, 109oz per can
    elif x == '6/#10':
        return (6 * 109) * 0.0625
    else:
        return None

In [48]:
weird_lb['Num_Pounds'] = weird_lb['UNIT'].apply(weird_lb_def)

/Users/vinay/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# EXCEPTIONS
- Put all exception categories together

In [49]:
exceptions = pd.concat([oz_only, weird_ct, weird_lb], axis=0, ignore_index=True)
# 2,255 rows 2260

In [50]:
exceptions

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count
0,05/06/19,Canyon Vista,SYSCO,pr,136976823,Beef Patty Ground 4 to1 1032,2.0,0/4 oz,51.50,103.00,20,Beef,I,20.000,NaN
1,07/23/19,Pines,SYSCO,pr,236067385,VG NAT FOREST YOUNG JACK,1.0,/30 oz,35.47,35.47,20,Processed Vegetarian Protein,I,9.375,NaN
2,07/26/19,Cafe Ventanas,SYSCO,pr,236071147,VG NAT FOREST YOUNG JACK,1.0,/30 oz,35.47,35.47,20,Processed Vegetarian Protein,I,9.375,NaN
3,07/26/19,64 Degrees,SYSCO,pr,236071141,VG NAT FOREST YOUNG JACK,1.0,/30 oz,35.47,35.47,20,Processed Vegetarian Protein,I,9.375,NaN
4,09/13/19,Canyon Vista,SYSCO,pr,236129411,VG NAT FOREST YOUNG JACK,1.0,/30 oz,35.47,35.47,20,Processed Vegetarian Protein,I,9.375,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2255,05/28/20,Canyon Vista,SYSCO,pr,236389733,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN
2256,06/01/20,Cafe Ventanas,SYSCO,pr,236392064,Bean Pinto 0040,1.0,6/#10,21.46,21.46,20,Legumes,I,40.875,NaN
2257,06/17/20,64 Degrees,SYSCO,pr,236404573,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN
2258,06/19/20,64 Degrees,SYSCO,pr,236405974,Bean Black 1294,1.0,6/#10,25.30,25.31,20,Legumes,I,40.875,NaN
2259,06/29/20,64 Degrees,SYSCO,pr,236413529,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN

# FINAL DF
- Put all dataframes together including exceptions (with Num_Pounds, Num_Count, Num_Cases)

In [51]:
final_df = pd.concat([pound, ounce, dozen, lb_only, count, case, exceptions], axis=0, ignore_index=True)

In [52]:
final_df

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV,Num_Pounds,Num_Count,Num_Cases
0,02/08/19,Cafe Ventanas,Hamilton Meats,LA,270380,Chicken Breast 5oz 2195,157.0,2/10#,4.10,656.26,420,Chicken,I,20,NaN,NaN
1,02/08/19,64 Degrees,Hamilton Meats,LM,270379,Chicken Breast 5oz 2195,30.0,2/10#,4.24,127.07,420,Chicken,I,20,NaN,NaN
2,02/08/19,64 Degrees,Hamilton Meats,LM,270378,Chicken Breast 5oz 2195,32.0,2/10#,4.13,132.10,420,Chicken,I,20,NaN,NaN
3,02/08/19,64 Degrees,Hamilton Meats,LM,270379,Chicken Thigh B/S 2108,80.0,2/10#,2.35,188.00,420,Chicken,I,20,NaN,NaN
4,02/08/19,64 Degrees,Hamilton Meats,LM,270378,Chicken Thigh B/S 2108,320.0,2/10#,2.35,752.00,420,Chicken,I,20,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27507,05/28/20,Canyon Vista,SYSCO,pr,236389733,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN,NaN
27508,06/01/20,Cafe Ventanas,SYSCO,pr,236392064,Bean Pinto 0040,1.0,6/#10,21.46,21.46,20,Legumes,I,40.875,NaN,NaN
27509,06/17/20,64 Degrees,SYSCO,pr,236404573,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN,NaN
27510,06/19/20,64 Degrees,SYSCO,pr,236405974,Bean Black 1294,1.0,6/#10,25.30,25.31,20,Legumes,I,40.875,NaN,NaN
27511,06/29/20,64 Degrees,SYSCO,pr,236413529,Bean Black 1294,1.0,6/#10,25.31,25.31,20,Legumes,I,40.875,NaN,NaN

In [53]:
final_df.to_csv('hdh18-20_proteins_with_units.csv', index=False)