In [1]:
import tabula
import pandas as pd

In [2]:
tabula.convert_into("Protein Vendor Purchases 5.1.18-4.30.20.pdf", "ProtVend5.1.18-4.30.20.csv", output_format="csv", pages='all')
tabula.convert_into('Sysco Purchases 5.1.18-4.30.19.pdf', 'Sysco18-19.csv', output_format='csv', pages='all')
tabula.convert_into('Sysco Purchases 5.1.19-4.30.20.pdf', 'Sysco19-20.csv', output_format='csv', pages='all')
tabula.convert_into('Protein Vendor Purchases May_June 2020.pdf', 'ProtVend_MayJune2020.csv', output_format='csv', pages='all')

In [15]:
df1 = pd.read_csv('ProtVend5.1.18-4.30.20.csv') #, nrows=1000

# remove the title columns that repeat in the csv file for every page + reset index
df1 = df1[df1['INVOICE\rDATE'] != 'INVOICE\rDATE'].reset_index().drop('index', axis=1)

# rename columns to take out spaces or \r and have _ instead
df1 = df1.rename(columns={'INVOICE\rDATE': 'INVOICE_DATE', 'PO NUMBER': 'PO_NUMBER', 'INVOICE\rNUMBER': 'INVOICE_NUMBER',
           'EXTENDED\rCOST': 'EXTENDED_COST'})

# remove totals column
df1totals = df1[-1:]
df1 = df1[:-1]

In [17]:
# SYSCO 18-19
# read in the csv file (only first 1000 rows for cleaning purposes initially
df2 = pd.read_csv('Sysco18-19.csv') #, nrows=1000

# remove the title columns that repeat in the csv file for every page + reset index
df2 = df2[df2['INVOICE\rDATE'] != 'INVOICE\rDATE'].reset_index().drop('index', axis=1)

# rename columns to take out spaces or \r and have _ instead
df2 = df2.rename(columns={'INVOICE\rDATE': 'INVOICE_DATE', 'PO NUMBER': 'PO_NUMBER', 'INVOICE\rNUMBER': 'INVOICE_NUMBER',
           'EXTENDED\rCOST': 'EXTENDED_COST'})

# remove totals column
df2totals = df2[-1:]
df2 = df2[:-1]

In [18]:
# SYSCO 19-20
# read in the csv file (only first 1000 rows for cleaning purposes initially
df3 = pd.read_csv('Sysco19-20.csv') #, nrows=1000

# remove the title columns that repeat in the csv file for every page + reset index
df3 = df3[df3['INVOICE\rDATE'] != 'INVOICE\rDATE'].reset_index().drop('index', axis=1)

# rename columns to take out spaces or \r and have _ instead
df3 = df3.rename(columns={'INVOICE\rDATE': 'INVOICE_DATE', 'PO NUMBER': 'PO_NUMBER', 'INVOICE\rNUMBER': 'INVOICE_NUMBER',
           'EXTENDED\rCOST': 'EXTENDED_COST'})

# remove totals column
df3totals = df3[-1:]
df3 = df3[:-1]

In [37]:
# ProtVend May_June 2020
# read in the csv file (only first 1000 rows for cleaning purposes initially
df4 = pd.read_csv('ProtVend_MayJune2020.csv') #, nrows=1000

# remove the title columns that repeat in the csv file for every page + reset index
df4 = df4[df4['INVOICE\rDATE'] != 'INVOICE\rDATE'].reset_index().drop('index', axis=1)

# rename columns to take out spaces or \r and have _ instead
df4 = df4.rename(columns={'INVOICE\rDATE': 'INVOICE_DATE', 'PO NUMBER': 'PO_NUMBER', 'INVOICE\rNUMBER': 'INVOICE_NUMBER',
           'EXTENDED\rCOST': 'EXTENDED_COST'})

# remove totals column
df4totals = df4[-1:]
df4 = df4[:-1]

In [40]:
df = pd.concat([df1, df2, df3, df4])
df = df.reset_index()
df = df.drop(columns=['index'])
df

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST
0,05/01/18,01,0620 SP (Do Not Use,tkk,29315,BF BEEF GROUND BLK 81/19 FINE,50,LB,2.1,$104.95
1,05/01/18,01,0620 SP (Do Not Use,tkk,29315,PK Pork Diced Stew 2566,40,LB,2.6,$103.96
2,05/01/18,05,0212 TZALI'S (Do not,SJ,387349,BF Kosher Ground Beef 80/20 Raw 2,155.73,LB,4.9,$777.09
3,05/01/18,05,0212 TZALI'S (Do not,SJ,387349,CX Kosher Chicken Wogs 2042,1047.9,LB,2.2,"$2,399.69"
4,05/01/18,06,0620 SP (Do Not Use,pm,29300,BF Picada Carne Asada 0170,120,LB,3.2,$389.88
...,...,...,...,...,...,...,...,...,...,...
126495,06/29/20,64,0020 SYSCO,pr,236413529,SP Grill Brick 3560,1,12 CT,21.5,$21.59
126496,06/29/20,64,0020 SYSCO,pr,236413529,SP SALES TAX SOAP & CLEANING,21.53,LB,1.0,$21.53
126497,06/29/20,64,0020 SYSCO,pr,236413529,SP SANITIZER HAND GEL 70% 356,1,4/GAL,121.7,$121.70
126498,06/29/20,64,0160 SANTA MONICA,pr,6544866,SF SALMON ATLANTIC FIL SKIN/OF,18.19,LB,8.49,$154.43
126499,06/30/20,64,0160 SANTA MONICA,CW,6548811,"SF Salmon Atl,Fil Sk/On 3550",20.53,LB,9.49,$194.83

In [41]:
# Replace location value with the actual location name
locations_dict = {'01': 'Pines', '05': 'OceanView', '06': 'Goody\'s Place', '11': 'Foodworx', '15': 'Club Med', '18': 'Cafe Ventanas',
                  '24': 'Canyon Vista', '27': 'The Bistro', '42': 'Dining Delivers', '64': '64 Degrees', '65': 'Sixty-Four North'}
df['LOC'] = df['LOC'].map(locations_dict)

In [42]:
# Create a Vendor No. column and take out the vendor number from the Vendor column
df['VENDOR_NO'] = df['VENDOR'].str[0:4]
df['VENDOR'] = df['VENDOR'].str[5:]

In [43]:
def item_category(x):
    if x[0].isdigit() or x.startswith('DO NOT'):
        return
    else:
        return x[0:2]

In [44]:
df['CATEGORY'] = df['ITEM'].apply(lambda x: item_category(x))

In [45]:
def item_truncate(x):
    if x[0].isdigit() or x.startswith('DO NOT'):
        return x
    else:
        return x[3:]

In [46]:
df['ITEM'] = df['ITEM'].apply(lambda x: item_truncate(x))

In [47]:
# Create Credit Memo vs Invoice column (CM or I)
# Basing it off of Extended Cost +/- (if negative then CM)
#print(type(df['EXTENDED_COST']))
df['EXTENDED_COST'] = df['EXTENDED_COST'].apply(lambda x: x.replace('$', '')).apply(lambda x: x.replace(',', ''))
df['EXTENDED_COST'] = df['EXTENDED_COST'].astype(float)

def credit_memo(x):
    if x < 0:
        return 'CM'
    else:
        return 'I'

In [48]:
df['CM_OR_INV'] = df['EXTENDED_COST'].apply(lambda x: credit_memo(x))

In [49]:
category_dict = {'BF': 'Beef', 'PK': 'Pork', 'CX': 'Chicken', 'TK': 'Turkey', 'SF': 'Seafood', 'GR': 'Groceries',
                 'FP': 'Fresh Produce', 'PE': 'Prepared Entrée', 'FZ': 'Frozen', 'SM': 'Specialty Meats', 'EG': 'Eggs',
                 'DY': 'Dairy & Dairy Alternatives', 'HH': 'Household', 'VG': 'Processed Vegetarian Protein',
                 'CR': 'Cereals', 'CC': 'Cookies / Crackers', 'BB': 'Breads', 'SN': 'Snacks', 'ZZ': 'Candy/Gum/Chocolates',
                 'BV': 'Beverages Carbonated and Non-Carbonated', 'WT': 'Water', 'CO': 'Coffee', 'HB': 'Health & Beauty',
                 'DS': 'Desserts & Pastries', 'SV': 'Supplements & Vitamins', 'SS': 'Office & School Supplies',
                 'RF': 'Retail Food Prep Fresh', 'FV': 'Food Varient', 'OF': 'Outside Vendor Food', 'PB': 'Packaged Bars',
                 'LG': 'Legumes', 'NS': 'Nuts/Seeds', 'PP': 'Paper / Plastic / Fuels', 'SP': 'Soaps & Cleaning Supplies'}

df['CATEGORY'] = df['CATEGORY'].map(category_dict)

In [50]:
df

,INVOICE_DATE,LOC,VENDOR,PO_NUMBER,INVOICE_NUMBER,ITEM,QUANTITY,UNIT,COST,EXTENDED_COST,VENDOR_NO,CATEGORY,CM_OR_INV
0,05/01/18,Pines,SP (Do Not Use,tkk,29315,BEEF GROUND BLK 81/19 FINE,50,LB,2.1,104.95,0620,Beef,I
1,05/01/18,Pines,SP (Do Not Use,tkk,29315,Pork Diced Stew 2566,40,LB,2.6,103.96,0620,Pork,I
2,05/01/18,OceanView,TZALI'S (Do not,SJ,387349,Kosher Ground Beef 80/20 Raw 2,155.73,LB,4.9,777.09,0212,Beef,I
3,05/01/18,OceanView,TZALI'S (Do not,SJ,387349,Kosher Chicken Wogs 2042,1047.9,LB,2.2,2399.69,0212,Chicken,I
4,05/01/18,Goody's Place,SP (Do Not Use,pm,29300,Picada Carne Asada 0170,120,LB,3.2,389.88,0620,Beef,I
...,...,...,...,...,...,...,...,...,...,...,...,...,...
126495,06/29/20,64 Degrees,SYSCO,pr,236413529,Grill Brick 3560,1,12 CT,21.5,21.59,0020,Soaps & Cleaning Supplies,I
126496,06/29/20,64 Degrees,SYSCO,pr,236413529,SALES TAX SOAP & CLEANING,21.53,LB,1.0,21.53,0020,Soaps & Cleaning Supplies,I
126497,06/29/20,64 Degrees,SYSCO,pr,236413529,SANITIZER HAND GEL 70% 356,1,4/GAL,121.7,121.70,0020,Soaps & Cleaning Supplies,I
126498,06/29/20,64 Degrees,SANTA MONICA,pr,6544866,SALMON ATLANTIC FIL SKIN/OF,18.19,LB,8.49,154.43,0160,Seafood,I
126499,06/30/20,64 Degrees,SANTA MONICA,CW,6548811,"Salmon Atl,Fil Sk/On 3550",20.53,LB,9.49,194.83,0160,Seafood,I

In [51]:
df.to_csv('hdh18-20.csv', index=False)